@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap);
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,button,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
a{text-decoration:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
::-moz-selection{color:inherit;background-color:transparent}
::selection{color:inherit;background-color:transparent}
body,html{position:relative;height:100%}
body{font-family:Roboto,sans-serif;line-height:1.4}
body{background-color:#eee;font-weight:500;color:#444}
.bodyWrapper,body{position:relative;font-size:16px}
.bodyWrapper{padding-bottom:30px}
.fl{float:left}
.fr{float:right}
.clearfix:after{content:'';display:table;clear:both}
.img-responsive{max-width:100%}
.bannerTop{display:-webkit-flex;display:flex}
.bannerTop .colLeft{display:-webkit-flex;display:flex;flex-basis:55%;align-items:flex-start;overflow:hidden}
.bannerTop .colLeft img{width:100%}
.bannerTop .colRight{display:-webkit-flex;display:flex;flex-basis:45%;flex-wrap:wrap}
.bannerTop .colRightRow{display:-webkit-flex;display:flex;flex-direction:row;flex-basis:100%}
.bannerTop .bannerThumb{display:-webkit-flex;display:flex;flex:1;background-repeat:no-repeat;background-position:top left;background-size:cover;border-radius:4px;margin-left:10px;margin-bottom:10px}
.bannerTop .colLeft img{border-radius:4px}
.bannerTop .colRightRow:last-child .bannerThumb{margin-bottom:0}
.bannerTop .flex-direction-nav a:before{color:rgba(255,255,255,.8)}
.bannerTop .flexslider{margin:0;border:0}
.bannerTop .flex-control-nav{bottom:10px;z-index:99}
.bannerTop .flex-control-paging li a{cursor:pointer;background-color:#fff}
.bannerTop .flex-control-paging li a.flex-active{background-color:#ffe45f;background:#ffe45f}
.gameNav{margin-top:20px;margin-bottom:10px;background-color:#0448a8;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;border:2px solid #002680}
.gameNav ul{display:-webkit-flex;display:flex;overflow:auto;-webkit-overflow-scrolling:touch;margin-bottom:0}
.gameNav li{-webkit-flex:1 0 108px;flex:1 0 108px;text-align:center;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.gameNav li+li{border-left:2px solid #002680}
.gameNav a{display:-webkit-flex;display:flex;padding:6px 0;font-size:16px;color:#f9f9f9;border-top:3px solid transparent;border-bottom:3px solid transparent;justify-content:center;text-transform:uppercase;cursor:pointer}
.gameNav li:hover{background-color:#f9b81c;color:#fff}
.gameNav li:hover a{color:#fff;border-top-color:#c78f07}
.gameNav li.active a,.gameNav li.active:hover a{border-color:#d30e24;color:#fff}
.gameNav li a{border-top-color:#166ae0}
.gameNav .popularGame a{border-color:#8dc73f}
.gameNav .scratchGame a{border-color:#0065a5}
.gameNav .skillGame a{border-color:#7b2b82}
.gameNav .allGame.active{background-color:#d30e24;color:#fff}
.gameNav li.active,.gameNav li.active:hover{background-color:#d30e24}
.gameNav .popularGame.active{background-color:#8dc73f}
.gameNav .scratchGame.active{background-color:#0065a5}
.gameNav .skillGame.active{background-color:#7b2b82}
.gameListingWrap{overflow:hidden;margin:0 -5px;padding:0 5px}
.gameListing{margin-left:-10px;margin-right:-10px}
.gameListing img{height:100%;width:100%}
.gameListing figcaption{margin:5px 0 15px}
.gameListing .cell.filtr-item{width:16.66%;padding:10px}
.gameListing .grid-item{width:16.66%;padding:10px}
.cell .cellInnerWrap{padding:5px;background-color:#fff;-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;box-shadow:0 1px 5px 0 rgba(0,0,0,.16);width:100%;background-color:#03002d;flex:1;position:relative}
.cell .cellInnerWrap .demoPlayBtn{position:absolute;top:0;right:0;z-index:10;font-size:11px;text-transform:uppercase;background-color:#d3ad35;background:#d3ae35;background:-moz-linear-gradient(top,#d3ae35 0,#d1aa32 100%);background:-webkit-linear-gradient(top,#d3ae35 0,#d1aa32 100%);background:linear-gradient(to bottom,#d3ae35 0,#d1aa32 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#d3ae35', endColorstr='#d1aa32', GradientType=0);color:#03002d;border-radius:0 4px 0 4px;min-height:18px;line-height:18px;padding:0 6px 0 18px}
.cell .cellInnerWrap .demoPlayBtn:before{content:'';width:10px;height:10px;position:absolute;display:block;border-radius:50%;border:2px solid #03002d;top:2px;left:2px;z-index:10}
.cell .cellInnerWrap .demoPlayBtn:after{content:'';width:0;height:0;display:block;position:absolute;border-left:6px solid #03002d;border-top:3px solid transparent;border-bottom:3px solid transparent;top:6px;left:6px}
.gameName{font-size:14px;color:#00579c;text-transform:uppercase;margin-bottom:4px;letter-spacing:.01em}
.gamePrice{color:#444;font-size:12px}
.gamePrice span{font-size:9px}
.gameDetailsBgWrap{width:100%;height:100vh;position:relative}
.gameDetailsBgWrap .gameDetailsBgInner{background-color:#000e17;background-image:url(../../images/gameDetailsBannerBg.jpg);background-repeat:no-repeat;background-position:center center;background-size:cover;height:100%;display:flex;justify-content:center;align-items:center}
.gameDetailsBgWrap .gamePlayArea{box-shadow:0 0 66.2px 3.8px rgba(0,0,0,.65);padding:4px 4px;background-color:rgba(255,255,255,.7);border-radius:5px}
.gameDetailsBgWrap .quickLink{position:absolute;background:url(../../images/home-icon.png) no-repeat center;width:50px;height:50px;right:10px;top:10px;background-color:#eef0e7;border-radius:4px;box-shadow:2px 2px 3px 0 rgba(0,0,0,.4);z-index:100}
.gameDetailsBgWrap .quickLink a{display:block;height:100%;text-indent:-9999999px}
.gameDetailsBgWrap .quickLink:hover{background-color:#aad7ea}
#gamePlayDiv.gameDetailsWrap .gameDetailsBgWrap .quickLink{background-image:url(../../images/fullScreen-icon.png)}
#gamePlayDiv.gameDetailsWrap.fullScreenOn .gameDetailsBgWrap .quickLink{background-image:url(../../images/reStore-icon.png)}
.gameDetailsBgWrap .gamePlayArea-bottom{text-align:center;position:absolute;bottom:50px}
.gameDetailsBgWrap .gamePlayArea-bottom button{display:inline-block}
.gameDetailsBgWrap .gamePlayArea-top div{color:#444;font-size:13px;padding-bottom:5px}
.gameDetailsBgWrap .playBtn{background:#defe5f;background:-moz-linear-gradient(top,#defe5f 0,#d5f74c 23%,#c1e821 50%,#7e9d00 77%,#7e9d00 77%,#4f6200 100%);background:-webkit-linear-gradient(top,#defe5f 0,#d5f74c 23%,#c1e821 50%,#7e9d00 77%,#7e9d00 77%,#4f6200 100%);background:linear-gradient(to bottom,#defe5f 0,#d5f74c 23%,#c1e821 50%,#7e9d00 77%,#7e9d00 77%,#4f6200 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#defe5f', endColorstr='#4f6200', GradientType=0);color:#344000;padding:10px 20px;font-size:14px;border:3px solid #516401;border-radius:20px;cursor:pointer;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.gameDetailsBgWrap .playBtn:hover{background:#defe5f;background:-moz-linear-gradient(top,#defe5f 0,#d5f74c 23%,#c1e821 50%,#9cc10c 76%,#9cc10c 100%);background:-webkit-linear-gradient(top,#defe5f 0,#d5f74c 23%,#c1e821 50%,#9cc10c 76%,#9cc10c 100%);background:linear-gradient(to bottom,#defe5f 0,#d5f74c 23%,#c1e821 50%,#9cc10c 76%,#9cc10c 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#defe5f', endColorstr='#9cc10c', GradientType=0)}
.gameDetailsBgWrap .playBtn:focus{outline:0}
.gameDetailsWrap .gameDetailsInnerWrap .gameDesc{padding-bottom:10px}
.gameDetailsWrap .tab-content{display:none!important;background:#ededed}
.gameDetailsWrap .tab-content.active{display:flex!important;position:relative;-moz-transition:all .25s ease-in-out;-o-transition:all .25s ease-in-out;-webkit-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.gameDetailsInnerWrap{padding:20px 30px 0 30px;text-align:center;color:#444}
.gameDetailsInnerWrap .gameDesc{padding-bottom:30px}
.gameDetailsInnerWrap .gameDesc h1{margin-bottom:20px;color:#00579c;font-size:22px;letter-spacing:.01em;text-transform:uppercase;font-weight:400}
.gameDetailsInnerWrap .gameDesc p{font-family:Verdana,Geneva,sans-serif;font-size:14px;line-height:20px}
.gameDetailsInnerWrap .suggestedGameCat h2{text-transform:uppercase;letter-spacing:.01em;margin-bottom:25px;position:relative}
.gameDetailsInnerWrap .suggestedGameCat h2:after,.gameDetailsInnerWrap .suggestedGameCat h2:before{content:'';position:absolute;width:100%;left:0;top:5px;border:1px solid #d6d6d6;z-index:-1}
.gameDetailsInnerWrap .suggestedGameCat h2:after{top:6px;border:1px solid #fff}
.gameDetailsInnerWrap .suggestedGameCat h2 span{background-color:#eee;padding:0 10px;display:inline-block}
.gameDetailsInnerWrap .cell{text-align:left;padding:0;background-color:transparent;box-shadow:none}
.gameDetailsInnerWrap .figcaption{margin-bottom:0}
.gameDetailsInnerWrap .gameName{margin-left:5px}
.gameDetailsInnerWrap .gameListing{display:flex;flex-wrap:wrap;justify-content:center;margin-left:0;margin-right:0}
.gameDetailsInnerWrap .cell .cellInnerWrap{padding:5px;background-color:#fff;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px;box-shadow:0 1px 5px 0 rgba(0,0,0,.16);width:100%}
.gameDetailsInnerWrap .cell{width:100%;max-width:198.167px}
.gameDetailsInnerWrap figcaption{margin:5px 0 15px}
.owl-carousel{position:relative}
.gameSlider2 .owl-nav.disabled+.owl-dots{position:absolute;width:100%;bottom:10px}
.owl-stage-outer{border-radius:4px}
.gameSlider1 .owl-dots.disabled,.gameSlider1 .owl-nav.disabled{display:block;position:absolute;top:30%;width:100%}
.gameSlider1 .owl-nav [class*=owl-]{background-color:rgba(0,0,0,.8);color:#fff;border-radius:100%;width:40px;height:40px;line-height:40px;padding:0}
.gameSlider1 .owl-prev{position:absolute;left:20px}
.gameSlider1 .owl-next{position:absolute;right:20px}
.gameSlider1 .owl-nav [class*=owl-]:hover{background:#000}
@media only screen and (max-width:991px){
.gameListing .cell{width:25%}
.gameDetailsInnerWrap .cell{max-width:100%!important}
.gameSlider1 .owl-next,.gameSlider1 .owl-prev{top:30%}
}
@media only screen and (max-width:767px){
.gameListing .grid-item .cellInnerWrap figure .gameName{margin-bottom:10px;margin-top:10px}
.gameNav ul{-webkit-flex-wrap:wrap;flex-wrap:wrap}
.gameNav ul li.active{-webkit-order:1;order:1;-webkit-flex-basis:100%;flex-basis:100%}
.gameListing .cell{width:calc(33.33% - 16px);margin:8px!important}
.gameSlider1 .owl-carousel .owl-item{display:flex!important;justify-content:center!important}
}
@media only screen and (max-width:479px){
.gameListing .cell{width:calc(50% - 16px)}
}
@media only screen and (max-width:320px){
.gameListing .cell{width:100%}
}
#gamePlayDiv.gameDetailsWrap .gameDetailsBgWrap .gamePlayArea-top,#gamePlayDiv.gameDetailsWrap .gameDetailsInnerWrap{display:none}
#gamePlayDiv.gameDetailsWrap.fullScreeOn{width:100%;height:100%;margin:0;padding:0}
.gameDetailsWrap{padding-bottom:10px}
.gameDetailsBgWrap .gamePlayArea{font-size:0;line-height:0;position:relative;z-index:100}
.gamePlayArea-top{display:none}
.bannerTop .bannerWrap img{width:100%}
.gameListingWrap{margin:0}
.gameListing{display:flex;flex-wrap:wrap;padding:15px;justify-content:center}
.gameListing .grid-item{padding:4px;margin:12px;border-radius:10px;background:#f5e568;background:-moz-linear-gradient(-45deg,rgba(245,229,104,1) 0,rgba(177,118,2,1) 100%);background:-webkit-linear-gradient(-45deg,rgba(245,229,104,1) 0,rgba(177,118,2,1) 100%);background:linear-gradient(135deg,rgba(245,229,104,1) 0,rgba(177,118,2,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5e568', endColorstr='#b17602', GradientType=1);display:flex}
.gameListing .grid-item .cellInnerWrap figure img{width:170px;flex:0 0 170px;margin:0 auto}
.gameListing .grid-item .cellInnerWrap figure .gameName{color:#fcb600;font-size:14px;letter-spacing:.04em;margin-bottom:0;font-weight:500}
.gameListing .grid-item .cellInnerWrap figure img{display:block;max-width:100%}
.gameListing .grid-item .cellInnerWrap figure .gameDesc{font-size:13px;display:none;line-height:18px}
.gameListing .grid-item .cellInnerWrap figure .gameDesc .winPrizeWrap{font-size:11px;font-weight:500;text-transform:uppercase;color:#d30e24;margin-bottom:3px}
.gameListing .grid-item .cellInnerWrap figure .gameDesc .winPrizeWrap .currencyWrap{background-color:#ffef91;padding:1px 4px;border-radius:5px;border:1px solid rgba(0,0,0,.15);letter-spacing:.1em;font-size:14px}
.gameListing figcaption{margin:0;position:relative;text-align:center}
.cell .cellInnerWrap{box-shadow:none;padding:10px;-webkit-transition:all .25s ease-in-out;-moz-transition:all .25s ease-in-out;transition:all .25s ease-in-out}
.bannerWrap{flex:1}
.cell .cellInnerWrap .btnStyle2{min-height:38px;font-size:14px;margin-top:8px;position:absolute;left:0;bottom:0;min-width:110px;display:none}
.hTPEaziWin ul.nav-tabs>li,.ignoreUpperCase{text-transform:none}
@media only screen and (max-width:480px){
.gameListing .grid-item .cellInnerWrap figure img{margin:0 auto 5px}
.gameListing .grid-item .cellInnerWrap figure{flex-direction:column}
.gameListing figcaption{text-align:center;padding-bottom:0}
.cell .cellInnerWrap .btnStyle2{position:relative}
}
@media only screen and (min-width:768px){
.gameListing .grid-item{flex:0 0 240px}
.gameListing .grid-item .cellInnerWrap figure img{width:240px;flex:0 0 240px;margin:0;margin-right:0;display:inline-block}
.gameListing .grid-item .cellInnerWrap figure{text-align:center}
.gameListing figcaption{text-align:left}
.gameListing .grid-item .cellInnerWrap figure .gameName{font-size:16px;margin-bottom:4px;text-align:center;margin-top:10px;letter-spacing:.04em}
.cell .cellInnerWrap .btnStyle2{display:none;color:#fff;background-color:#d8282d;min-height:38px;font-size:14px;margin-top:8px;position:absolute;left:0;bottom:0;min-width:110px;text-transform:uppercase;letter-spacing:.08em;border-radius:100px}
}
@media only screen and (min-width:1200px){
.gameListing .grid-item{cursor:pointer}
.gameListing .grid-item.cell .cellInnerWrap:hover{background-color:#0c0759}
}
.cell.grid-item{position:relative}
.cell .corner{position:absolute;z-index:1;background-position:left top;background-repeat:no-repeat;width:100%;height:70%;top:-12px;left:-16px}
.cell .corner .content{margin:12px 16px;text-transform:uppercase}
.cell .corner .content span{display:block;line-height:1}
.cell .corner.shape1{background-image:url(../../images/corner-shape1.png)}
.cell .corner.shape2{background-image:url(../../images/corner-shape2.png)}
.cell .corner.shape1 .content{transform:rotate(-45deg);transform-origin:center center;text-align:center;position:absolute;left:-10px;top:10px;font-style:italic;letter-spacing:.04em;text-shadow:-1px 2px 0 rgba(0,0,0,.5)}
.cell .corner.shape1 .content span{line-height:1.1}
.cell .corner.shape1 .content span.highlight{font-size:26px;color:#eaff00}
.cell .corner.shape2 .content{text-align:left;font-size:26px;padding-left:15px;font-weight:600;letter-spacing:.04em;text-shadow:1px 2px 0 rgba(0,0,0,.5)}
@media only screen and (max-width:767px){
.cell .corner{top:-8px;left:-11px}
.cell .corner.shape2 .content{transform:scale(.7);transform-origin:left top;margin:9px 12px}
.cell .corner.shape1 .content{transform:scale(.7) rotate(-45deg);transform-origin:left center;left:-5px;top:12px}
.cell .corner.shape1{background-size:126px 114px}
.cell .corner.shape2{background-size:112px 63px}
}