 /************error popup***************************/

 .systemMSG.popup.error {
    background-color: #FFFFFF;
        border-color: #FFFFFF;
        box-shadow: 0px 0px 12px rgb(171, 84, 79);
    }
    .popup.systemMSG.error h5 {
    background-color: #E2E2E2;
        color:#545454;
    }
    .popup h5 {
    margin: 0px;
    padding: 10px 10px;
    background-color: #0c0c0c;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    }

    .popup.systemMSG.error h5 button {
    background-color: #ab544f;
    }

    .popup h5 button {
    background-image: url(/assets/images/draw/close-icon.png);
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    border: 0;
    background-position: center center;
    border-radius: 50%;
    background-size: 50%;
    background-color: transparent;
    float: right;
    outline: 0;
    margin-top: -3px;
    }

    .systemMSG.popup {
    position: absolute;
    width: 100%;
    max-width: 400px;
    background-color: white;
    left: 50%;
    top: 50%;
    margin: 0;
    border-radius: 5px;
    border: 2px solid #fff;
    overflow: hidden;
    height: 137px;
    z-index: 9999;
    margin-left: -200px;
    margin-top: -70px;
    }
    .modal-body {
    position: relative;
    padding: 20px 10px;

    }

    .systemMSG.popup .iconBox {
    overflow: hidden;
    text-indent: -9000px;
    position: relative;
    padding: 0;
    height: 100px;
    }
    .popup.systemMSG.error .msgBox {
    color:#545454;
    }
    .systemMSG.popup .msgBox {
    padding: 0;
    font-size: 15px;
    padding-top: 0;
    }

    /************error popup***************************/


 .hidden {
   visibility: hidden;
 }
 
 .loader-overlay {
   position: fixed;
   width: 100%;
   z-index: 500000;
   top: 0;
   height: 100%;
   background-color: rgba(0,0,0,0);
 }

 .loader {
   height: 4px;
   width: 100%;
   position: relative;
   overflow: hidden;
   background-color: #FFF;
 }
 .loader:before {
   display: block;
   position: absolute;
   content: "";
   left: -200px;
   width: 200px;
   height: 4px;
   background-color: red;
   animation: loading 2s linear infinite;
 }
 @keyframes loading {
   from {left: -200px; width: 30%;}
   50% {width: 30%;}
   70% {width: 70%;}
   80% {left: 50%;}
   95% {left: 120%;}
   to {left: 100%;}
 }
