<div class="gameHeader">
  <!-- 'leftbtn' or 'rightbtn', which will come it depends on condition -->
  <button class="back leftbtn">
    <a (click)="loadBack()">
      <svg class="svgicon">
        <use xlink:href="assets/images/sprite-sheet.svg#icon-leftarrow"></use>
      </svg>
    </a>
  </button>
  <div class="pageIndicator">
    <div class="title"><span class="gamename">:#{{drawNumber}}</span><span
        class="ticketNum">{{drawDateTime | date: 'MMM dd - HH:mm'  }} </span></div>
  </div>
</div>
<div class="drawMachinePageWrap">
  <div class="drawMachineOuterWrap">
    <div class="sectionWrapper">
      <div class="drawMachineWrap">
        <iframe width="560" height="315" #drawmachine id="drawmachine" [src]="iframe_src" frameborder="0"
          allow="accelerometer; encrypted-media; gyroscope;"></iframe>
      </div>
    </div>
  </div>
  <div class="drawMachineTktWrap">
    <div class="sectionWrapper" *ngIf="showTickets">
      <div class="tkt-section" *ngFor="let item of myTickets;let ticketIndex = index;">
        <div class="section">
          <div class="tkt-betPlayedWrap">
            <div class="title">
              <div class="lt tktNum"><span class="label">{{'dge.ticket_number' | translate}}</span><span
                  class="num">{{ item.ticketNumber }}</span></div>
              <div class="rt betVal"><span class="label">{{'dge.bet' | translate}}</span>
                <div class="amountWrap" innerHTML="{{item.ticketDetails.saleAmount | custCurrency}}"></div>
              </div>
            </div>
            <div class="title" *ngIf="gameCode == 'LuckySix' && checkDrawAddons()">
              <div class="lt d-flex">{{'dge.draw_result' | translate}} <div
                  class="iconSymbol flag flag--{{clientCode}}"></div>
              </div>
              <div class="rt">
                <span class="label text-capitalize">{{'dge.win' | translate}}:</span>
                <span class="value">{{item?.ticketData?.drawWinList[0]?.winningMultiplierInfo?.value}}x</span>
              </div>
            </div>
            <ng-container *ngFor="let draws of item.ticketData?.drawWinList; let drawIndex = index;">
              <div class="playedRowWrap">
                <div class="item-row" *ngFor="let panel of draws?.panelWinList;let pIndex = index;">
                  <div class="col1" *ngIf="panelType == 1">
                    <ng-container *ngIf="gameCode != 'powerball'">
                      <div class="selection"
                        *ngIf="panel.pickType != 'Banker' && panel.pickType != 'Banker1AgainstAll' && betData[panel.playType]?.winMode == 'MAIN'">
                        <div class="ballBox">
                          <div
                            class="ballWrap wAni ball-{{numberArray[pickedNo]?.color == '' ? 'orange' : numberArray[pickedNo]?.color}} {{checkAcHOMain(pickedNo)}}"
                            *ngFor="let pickedNo of panel.pickedData; let k = index;"
                            [ngClass]="{'cloverBg': gameCode == 'LuckySix' && checkClover(pickedNo)}">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                      <div class="selection"
                        *ngIf="panel.pickType == 'Banker' || panel.pickType == 'Banker1AgainstAll'">
                        <div class="txt">UL-</div>
                        <div class="ballBox">
                          <div class="ballWrap ball-{{numberArray[pickedNo]?.color}} {{checkAcHOMain(pickedNo)}}"
                            *ngFor="let pickedNo of panel.pickedData[0]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                      <div class="selection"
                        *ngIf="panel.pickType == 'Banker' || panel.pickType == 'Banker1AgainstAll'">
                        <div class="txt">LL-</div>
                        <div class="ballBox">
                          <div class="ballWrap ball-{{numberArray[pickedNo]?.color}} {{checkAcHOMain(pickedNo)}}"
                            *ngFor="let pickedNo of panel.pickedData[1]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="gameCode == 'powerball'">
                      <div class="selection selwrap-6by42" *ngIf="betData[panel.playType]?.winMode == 'MAIN'">
                        <div class="ballBox">
                          <div
                            class="ballWrap wAni ball-{{numberArray[pickedNo]?.color == '' ? 'orange' : numberArray[pickedNo]?.color}} {{checkAcHOPowerball(pickedNo, 0)}}"
                            *ngFor="let pickedNo of panel.pickedData[0]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                        <span class="plusSign">+</span>
                        <div class="ballBox">
                          <div
                            class="ballWrap wAni ball-{{numberArray2[pickedNo]?.color == '' ? 'orange' : numberArray2[pickedNo]?.color}} {{checkAcHOPowerball(pickedNo, 1)}}"
                            *ngFor="let pickedNo of panel.pickedData[1]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                      <div class="selection"
                        *ngIf="panel.pickType == 'Banker' || panel.pickType == 'Banker1AgainstAll'">
                        <div class="txt">UL-</div>
                        <div class="ballBox">
                          <div class="ballWrap ball-{{numberArray[pickedNo]?.color}} {{checkAcHOMain(pickedNo)}}"
                            *ngFor="let pickedNo of panel.pickedData[0]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                      <div class="selection"
                        *ngIf="panel.pickType == 'Banker' || panel.pickType == 'Banker1AgainstAll'">
                        <div class="txt">LL-</div>
                        <div class="ballBox">
                          <div class="ballWrap ball-{{numberArray[pickedNo]?.color}} {{checkAcHOMain(pickedNo)}}"
                            *ngFor="let pickedNo of panel.pickedData[1]; let k = index;">
                            {{pickedNo}}
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    <div class="selection" *ngIf="betData[panel.playType]?.winMode != 'MAIN'">
                      <div class="valuebox {{checkAcHOSide(panel.playType, panel.pickType)}}"
                        *ngIf="betData[panel.playType]?.winMode == 'COLOR'">
                        <div
                          class="colorDot ball-{{betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[1] | lowercase}}">
                        </div>
                        {{'dge.'+getSideBetPickName(betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[1]) | translate}}
                      </div>
                      <div class="valuebox {{checkAcHOSide(panel.playType, panel.pickType)}}"
                        *ngIf="betData[panel.playType]?.winMode == 'SUM'">
                        {{betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[0] == 0 ? '&lt; ' + betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[2] : '&gt;
                          ' + betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[0]  | titlecase}}
                      </div>
                      <div class="valuebox {{checkAcHOSide(panel.playType, panel.pickType)}}"
                        *ngIf="betData[panel.playType]?.winMode == 'ODD_EVEN'">
                        {{'dge.'+getSideBetPickName(betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue.split('<')[1]) | translate}}
                      </div>
                      <div class="valuebox {{checkAcHOSide(panel.playType, panel.pickType)}}"
                        *ngIf="betData[panel.playType]?.winMode == 'PATTERN'">
                        {{'dge.'+getSideBetPickName(betData[panel.playType]?.pickTypeData.pickType[panel.pickType].range[0].pickValue) | translate}}
                      </div>
                    </div>
                    <div class="detail small" *ngIf="gameCode != 'powerball'">
                      <span>
                        {{(betData[panel.playType]?.winMode == 'MAIN' ? 'dge.mainbet' : 'dge.sidebet') | translate}}
                      </span>
                      <span class="separator">|</span>
                      <span>
                        {{'dge.'+betData[panel.playType]?.betDispName | translate}}
                      </span>
                      <span class="separator">|</span>
                      <span>
                        {{'dge.'+getPickName(betData[panel.playType]?.pickTypeData?.pickType[panel.pickType]?.code, betData[panel.playType]?.pickTypeData?.pickType[panel.pickType]?.name, panel?.quickPickType) | translate}}
                      </span>
                      <ng-container *ngIf="betData[panel.playType]?.winMode == 'MAIN'">
                        <span class="separator">-</span>
                        <span>
                          {{numberOfLines(ticketIndex, drawIndex, pIndex, gameCode)}}
                          {{(numberOfLines(ticketIndex, drawIndex, pIndex, gameCode) > 1 ? 'dge.lines' : 'dge.line') | translate}}
                        </span>
                      </ng-container>
                    </div>
                    <div class="detail small" *ngIf="gameCode == 'powerball'">
                      <span>
                        {{'dge.'+betData[panel.playType]?.betDispName | translate}}
                      </span>
                      <span class="separator">|</span>
                      <span>
                        {{'dge.'+getPickName(betData[panel.playType]?.pickTypeData?.pickType[panel.pickType]?.code, betData[panel.playType]?.pickTypeData?.pickType[panel.pickType]?.name, panel?.quickPickType) | translate}}
                      </span>
                    </div>
                  </div>
                  <div class="col1" *ngIf="panelType == 3">
                    <div class="selection">
                      <div class="itemSymWrap wAni {{checkAcHOMain(pickedNo)}}"
                        *ngFor="let pickedNo of panel.pickedData; let k = index;">
                        <div class="itemSym icon-{{iconMapping[pickedNo]}}">
                          <svg class="svgicon">
                            <use [attr.xlink:href]="'assets/images/fortune-sprite.svg#icon-'+iconMapping[pickedNo]">
                            </use>
                          </svg>
                        </div>
                        <div class="label">{{'dge.'+iconMapping[pickedNo] | translate}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col1" *ngIf="panelType == 2">
                    <div class="selection wAni">
                      <div class="valuebox {{checkAcHOMainThai(panel)}}">
                        {{panel?.pickedData?.join('')}}
                      </div>
                    </div>
                    <div class="detail small">
                      <span>
                        {{((betData[panel?.playType]?.betGroup == "3Digit") ? 'dge.3_digit' : ((betData[panel?.playType]?.betGroup == "2Digit") ? 'dge.2_digit' : ((betData[panel?.playType]?.betGroup == "1Digit") ? 'dge.1_digit' : ''))) | translate}}
                      </span>
                      <span class="separator">:</span>
                      <span
                        innerHTML="{{'dge.GD-'+getBetName(betData[panel?.playType]?.betDispName)+'-'+betData[panel?.playType]?.pickTypeData?.pickType[panel?.pickType]?.name | translate}}"></span>
                    </div>
                  </div>
                  <div class="col2">
                    <div class="amountWrap" innerHTML="{{panel?.lineAmountTicketCurr | custCurrency}}"></div>
                  </div>
                  <div class="col4" *ngIf="panel?.winningAmt != 0 && draws?.drawStatusForticket == 'CLAIM_ALLOW'">
                    <div class="amountWrap winning">
                      <span class="small">{{'dge.won' | translate}}</span>
                      <div class="currencywrap" innerHTML="{{panel?.winningAmt | custCurrency}}"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                *ngIf="showResult && draws?.winResult != 'RESULT AWAITED' && draws.winningAmt > 0 && draws?.drawStatusForticket == 'CLAIM_ALLOW' && draws?.panelWinList[0]?.status != 'CANCELLED'"
                class="resultMsgWrap win">
                <p>
                  {{'dge.you_have_won' | translate}}
                  <span class="amountWrap" innerHTML="{{draws?.winningAmt | custCurrency}}"></span>
                </p>
              </div>
              <div
                *ngIf="showResult && draws?.winResult != 'RESULT AWAITED' && draws.winningAmt <= 0 && draws?.drawStatusForticket == 'CLAIM_ALLOW' && draws?.panelWinList[0]?.status != 'CANCELLED' "
                class="resultMsgWrap lose">
                <p>{{'dge.better_luck_next_time' | translate}}</p>
              </div>
              <div *ngIf="showResult && draws?.panelWinList[0]?.status == 'CANCELLED'" class="resultMsgWrap cancel">
                <p>{{'sle.ticket_cancelled' | translate}}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="msg-section" *ngIf="playerLogin && showTickets == false">
      <h2>{{'dge.no_ticket_purchase' | translate}}</h2>
      <div class="buttonWrap">
        <button routerLink="{{gameLink}}">{{'dge.buy_tickets' | translate}}</button></div>
    </div>
    <div class="msg-section" *ngIf="playerLogin == false">
      <div class="buttonWrap">
        <button (click)="openLoginPopup()">{{'dge.login' | translate}}</button>
      </div>
    </div>
  </div>
</div>