<div class="gameWrap game6by42 gameEuroMillion">
    <div class="gameHeader">
        <!-- <button class="back leftbtn" (click)="loadBack()">
            <a>
                <svg class="svgicon">
                    <use xlink:href="assets/images/sprite-sheet.svg#icon-leftarrow"></use>
                </svg>
            </a>
        </button> -->
        <div class="pageIndicator">
            <div class="imgWrap">
                <img src="assets/images/{{clientCode}}/gamelogo/{{rootData?.gameIcon}}"
                    alt="game-{{gameData?.gameName}}">
            </div>
            <!-- <div class="userinfo">
                <div class="userName">{{userInfo?.playername}}</div>
                <div class="balanceWrap" innerHTML="{{userInfo?.balance | custCurrency}}"></div>
            </div> -->
        </div>
    </div>
    <!-- <div class="timeToDrawSection">
        <div class="sectionWrapper">
            <div class="section msgBlk">
                <div class="boxWrap {{myTicketCount > 0 ? 'played' : 'no-played'}}">
                    <div class="box">
                        <div class="title">{{'dge.play_ticket' | translate}}</div>
                        <div class="subTitle">{{'dge.for_draw' | translate}}</div>
                    </div>
                    <div class="value">{{ myTicketCount }}</div>
                </div>
                <div class="dmPlayBTNWrap" (click)="openDrawMachine()">
                    <button class="dmPlayBTN btn">
                        <span>{{'dge.play' | translate}}</span>
                    </button>
                </div>
            </div>
            <div class="section timerBlk">
                <div class="label">{{'dge.curr_draw' | translate}}</div>
                <div class="timer">
                    <div class="box day" *ngIf="true">
                        <span class="num">{{diff_time?.shownTime[0]}}</span>
                        <span class="abbr">D</span>
                    </div>
                    <div class="box hour">
                        <span class="num">{{diff_time?.shownTime[1]}}</span>
                        <span class="abbr">H</span>
                    </div>
                    <div class="box minute">
                        <span class="num">{{diff_time?.shownTime[2]}}</span>
                        <span class="abbr">M</span>
                    </div>
                    <div class="box second">
                        <span class="num">{{diff_time?.shownTime[3]}}</span>
                        <span class="abbr">S</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- <div class="betTypeWrap section">
        <div class="sectionWrapper">
            <div class="betBlockWrap">
                <div class="mainBetWrap sectionBox current">
                    <div class="sectionTitle">{{'dge.bet_type' | translate}}</div>
                    <ul class="buttonList">
                        <ng-container *ngFor="let betType of gameData?.betRespVOs; let i = index">
                            <li *ngIf="betType.winMode == 'MAIN'"
                                [ngClass]="{'active': userData?.panelData[panelCounter - 1]?.betType == betType.betCode}"
                                [attr.betname]="betType.betName" (click)="selectGameBet(betType.betCode)" tabindex="-1"
                                (keyup.arrowleft)="moveBetFocus($event, 'LEFT', i)"
                                (keyup.arrowright)="moveBetFocus($event, 'RIGHT', i)"
                                (focus)="selectGameBet(betType.betCode)">
                                <button>{{'dge.'+betType?.betDispName | translate}}</button>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->
    <div class="gameplayWrap section">
        <div class="playAreaWrapper">
            <div class="mainBetWrapper">
                <div class="sectionWrapper">
                    <div class="msgCopyWrap" *ngIf="postState">
                        <div class="msgTxt">{{postStateMsg}}</div>
                    </div>
                    <div class="numSelectionWrap">
                        <ul class="numSelectionBox">
                            <li class="numBox bg-{{pickNum.color}}"
                                [ngClass]="{'active': checkNumberSelected(pickNum.number, 0)}"
                                *ngFor="let pickNum of gameData?.numberConfig.range[0].ball" id="{{pickNum.number}}"
                                (click)="selectPickedNum(pickNum.number, 0)">
                                <span class=" txt">{{pickNum.number}}</span>
                            </li>
                        </ul>
                        <span class="plusLabel">+</span>
                        <ul class="numSelectionBox">
                            <li class="numBox bg-{{pickNum.color}}"
                                [ngClass]="{'active': checkNumberSelected(pickNum.number, 1)}"
                                *ngFor="let pickNum of gameData?.numberConfig.range[1].ball" id="{{pickNum.number}}"
                                (click)="selectPickedNum(pickNum.number, 1)">
                                <span class=" txt">{{pickNum.number}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="pickTypeWrap sectionBox">
                        <div class="pickWrap" *ngIf="isQP">
                            <!-- perm 2 QP option -->
                            <div class="pick-perm2qp">
                                <div class="label">{{'dge.qp' | translate}}</div>
                                <ul class="buttonList round">
                                    <li *ngFor="let qp of qpArray" (click)="qpNumbers(qp)"
                                        [ngClass]="{'active': selectedQpNum == qp}">
                                        <button>{{qp}}</button>
                                    </li>
                                </ul>
                                <div class="closeWrap" (click)="closeQP();">
                                    <div class="closeicon">X</div>
                                    <div class="txt">{{'dge.close' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="!isQP && !isBankerBet">
                            <ng-container *ngFor="let betType of gameData?.betRespVOs; let i = index">
                                <ng-container
                                    *ngIf="userData?.panelData[panelCounter - 1]?.betType == betType.betCode && betType.winMode == 'MAIN'">
                                    <div class="sectionTitle">{{'dge.manual_quick' | translate}}</div>
                                    <div class="buttonListWrap">
                                        <ul class="buttonList">
                                            <ng-container
                                                *ngFor="let drawName of betType.pickTypeData.pickType; let j = index">
                                                <li [ngClass]="{'active': userData?.panelData[panelCounter - 1]?.pickType == drawName.code}"
                                                    [attr.pickname]="drawName.name"
                                                    (click)="selectGamePick(drawName.code, i)" tabindex="-1"
                                                    (keyup.arrowleft)="movePickFocus($event, 'LEFT', j)"
                                                    (keyup.arrowright)="movePickFocus($event, 'RIGHT', j)"
                                                    (focus)="selectGamePick(drawName.code, i)">
                                                    <button>{{'dge.'+drawName.name | translate}}</button>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                        <div class="pickWrap" *ngIf="isBankerBet">
                            <!-- Banker2 option -->
                            <div class="pick-banker2">
                                <div class="banker-box" *ngIf="bankerUPNcounter != 0"
                                    [ngClass]="{'active': checkActiveBankerPanel(userData?.panelData[panelCounter - 1]?.pickedValues[0])}">
                                    <div class="ball-box">
                                        <div class="ballWrap ball-{{[numberArray[upBankeNum]?.color]}}"
                                            *ngFor="let upBankeNum of userData?.panelData[panelCounter - 1]?.pickedValues[0]">
                                            <div class="ball"><span class="value">{{upBankeNum}}</span></div>
                                        </div>
                                    </div>
                                    <div class="label-box">{{'dge.upper_line' | translate}}</div>
                                </div>
                                <div class="banker-box" *ngIf="bankerLPNcounter != 0"
                                    [ngClass]="{'active': checkActiveBankerPanel(userData?.panelData[panelCounter - 1]?.pickedValues[1])}">
                                    <div class="ball-box">
                                        <div class="ballWrap ball-{{[numberArray[lpBankeNum]?.color]}}"
                                            *ngFor="let lpBankeNum of userData?.panelData[panelCounter - 1]?.pickedValues[1]">
                                            <div class="ball"><span class="value">{{lpBankeNum}}</span></div>
                                        </div>
                                    </div>
                                    <div class="label-box">{{'dge.lower_line' | translate}}</div>
                                </div>
                                <div class="closeWrap" (click)="closeBanker();">
                                    <div class="closeicon">X</div>
                                    <div class="txt">{{'dge.close' | translate}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="betAmountWrap sectionBox">
                        <div class="sectionTitle">{{'dge.betamt' | translate}}</div>
                        <ul class="buttonList">
                            <ng-container *ngFor="let betAmt of betAmtArray; let j = index">
                                <li *ngIf="j < 5" (click)="selectBetAmount(j, betAmt)" id="unitPrice-{{j+1}}"
                                    [ngClass]="{'active': ((j+1) == userData?.panelData[panelCounter - 1]?.betAmountMultiple && gameData?.betRespVOs[0]?.unitPrice > 1) || (((j+1)*10) == userData?.panelData[panelCounter - 1]?.betAmountMultiple && gameData?.betRespVOs[0]?.unitPrice <= 1)}"
                                    (focus)="selectBetAmount(j, betAmt)">
                                    <button innerHTML="{{betAmt | custCurrency}}"></button>
                                </li>
                            </ng-container>
                            <!-- <li id="otherBtn-1" (click)="selectOtherAmount($event)" (focus)="selectOtherAmount($event)"
                                [ngClass]="{'active' : userData?.panelData[panelCounter - 1]?.betAmountMultiple > 5}">
                                <button>{{'dge.other' | translate}}</button>
                            </li> -->
                            <li [ngClass]="{'active' : activateOtherAmt()}"
                                *ngIf="gameData?.betRespVOs[0]?.maxBetAmtMul * gameData?.betRespVOs[0]?.unitPrice != gameData?.betRespVOs[0]?.unitPrice">
                                <button class="otherBtn" id="otherBtn-1" [ngClass]="{'selected': showOtherAmountInput}"
                                    (click)="selectOtherAmount($event)" (focus)="selectOtherAmount($event)">
                                    <span class="label">{{'dge.other' | translate}}</span>
                                    <span class="currency">{{userInfo?.curr | currencySymbol}}</span>
                                    <input type="text" id="otherAmt-1" [(ngModel)]="otherAmtVal" name="otherTextBox"
                                        (keyup)="onOtherAmtInputChange($event)" maxlength="6">
                                </button>
                            </li>
                        </ul>
                        <span class="error">{{betError}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="addResetWrap fix-bottom">
            <div class="sectionWrapper">
                <div class="postState" [ngClass]="{'hide': postState}">
                    <div class="postStateInner">
                        <div class="powerzone type3">
                            <button class="addBet btn-primary" (click)="addMainPanel()"
                                [disabled]="calculatePanelPrice(0) == 0"
                                [ngClass]="{'disabled':calculatePanelPrice(0) == 0}">
                                {{'dge.addbet' | translate}}
                                <span class="badge">{{totalBetPanel}}</span>
                            </button>
                            <button class="buyNowBtn btn-primary" (click)="purchaseTicket()"
                                [disabled]="totalPricePanel == 0" [ngClass]="{'disabled':totalPricePanel == 0}">
                                <div class="amountWrap" innerHTML="{{totalPricePanel | custCurrency}}"></div>
                                <div class="text">{{'dge.buy' | translate}}</div>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="preState" [ngClass]="{'hide': !postState}">
                    <div class="preStateInner">
                        <div class="msgTxt">{{postStateMsg}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="purchaseOuterWrap3"></div>
    <div class="confirmPurchaseOuterWrap"></div>
    <div class="infobtnWrap" (click)="openHelpModal(gameCode)">
        <button class="info">
            <span class="infoIcon">i</span>
            <div class="txt" innerHtml="{{'common.rultoply' | translate:{gameCode: 'common.'+gameCode | translate} }}">
            </div>
        </button>
    </div>
</div>
<div class="game-start-timer-wrap" *ngIf="saleTimerStatus">
    <div class="game-start-timer">
        <div class="titleWrap">
            <div class="title1">{{'common.market_unavailable' | translate}}</div>
            <div class="title2">{{'common.sale_start' | translate}}</div>
        </div>
        <div class="timerWrap">
            <div class="timer">
                <div class="unit days" *ngIf="diff_time?.convention.includes('day')">
                    <div class="value">{{diff_time?.saleShownTime[0]}}</div>
                    <div class="label">{{diff_time?.shownTime[0] == 1 ? 'Day' : 'Days'}}</div>
                </div>
                <div class="unit hours"
                    *ngIf="diff_time?.convention.includes('day') || diff_time?.convention.includes('hr')">
                    <div class="value">{{diff_time?.saleShownTime[1]}}</div>
                    <div class="label">{{diff_time?.shownTime[1] == 1 ? 'Hour' : 'Hours'}}</div>
                </div>
                <div class="unit minutes">
                    <div class="value">{{diff_time?.saleShownTime[2]}}</div>
                    <div class="label">{{diff_time?.shownTime[2] == 1 ? 'Minute' : 'Minutes'}}</div>
                </div>
                <div class="unit seconds">
                    <div class="value">{{diff_time?.saleShownTime[3]}}</div>
                    <div class="label">{{diff_time?.shownTime[3] == 1 ? 'Second' : 'Seconds'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modal-box:: "Other" Bet Amount -->
<!-- <div class="modal-box modal-xs modal-design1" *ngIf="showOtherAmountInput">
    <div class="modal-content">
        <div class="modal-header">
            <div class="modal-title">{{'dge.amt' | translate}}</div>
            <div class="modal-close" (click)="closeOtherAmountInput()"><span></span></div>
        </div>
        <div class="modal-body">
            <div class="otherAmount">
                <ul class="buttonList">
                    <ng-container *ngFor="let betAmt of betAmtArray; let j = index">
                        <li *ngIf="j > 4" (click)="selectOtherBetAmount(j, betAmt)" id="unitPrice-{{j+1}}"
                            [ngClass]="{'active': (j+1) == otherBetAmountMultiple}"
                            (focus)="selectOtherBetAmount(j, betAmt)">
                            <button><span
                                    class="currency">{{userInfo?.curr | currencySymbol}}</span>{{betAmt | number:'1.2-2'}}</button>
                        </li>
                    </ng-container>
                </ul>
                <div class="inputWrap">
                    <label for="otherBetAmount">{{'dge.amt' | translate}}</label>
                    <input type="text" id="otherAmt-1" [(ngModel)]="otherAmtVal"
                        (keyup)="onOtherAmtInputChange($event)">
                    <span class="error">{{betError}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="buttonWrap" (click)="closeOtherAmountInput()">
                <a>
                    <div class="cancelBtn button">
                        <div class="text">{{'dge.cancel' | translate}}</div>
                    </div>
                </a>
            </div>
            <div class="buttonWrap" (click)="continueOtherAmountInput()">
                <a>
                    <div class="goBtn button">
                        <div class="text">{{'dge.cont' | translate}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div> -->