/*************Start header side***********************/
code{ display:none;}
body {
    font-family:'Roboto', sans-serif;	
	font-weight:400;
    margin: 0;
    padding: 0;
    background: url(/assets/images/draw/draw-ui-bg.jpg) repeat top center;
    min-width: 1310px;
}

img, img:hover, img:focus, img:active, img:visited{ border:none; outline:none;}
button{ cursor:pointer;}
.quickClone{ display:block !important;}

/*.active {
    background-color: #0d5b90;
}*/

/*************left side***********************/

.left-col {
    width: 155px;
    float: left;
    margin-left: 15px;
    margin-top: 6px;
}
.left-draw-ui {
    margin: 0;
    padding: 0;
    width: 100%;
}
.left-draw-ui h5 {
    background-color: #0c0c0c;
    color: #fff;
    padding: 14px 0px;
    text-align: center;
    border-radius: 2px 2px 0px 0px;
    -webkit-border-radius: 2px 2px 0px 0px;
    -moz-border-radius: 2px 2px 0px 0px;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
}
.ui-left-menu {
    display: block;
}
.ui-left-menu button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #e8e8e8;
    width: 100%;
    display: block;
    margin-bottom: 1px;
    min-height: 73px;
    /* webkit-transition: all .25s ease-in-out; */
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    outline: 0;
    cursor: pointer;
}
.ui-left-menu button.select-game {
    background-color: #ffe463;
}
span.logo-game {
    float: left;
    font-size: 9px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}
span.name-game {
    float: left;
    width: 47%;
    font-size: 14px;
    color: #fff;
    line-height: 14px;
    text-shadow: 0px 1px 1px black;
    padding: 29px 0px;
    display: none;
}
span.next-draw-time {
    float: right;
    padding: 0px 5px;
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, 0.30);
	border-left: 1px solid #eeeeee\9;
    margin: 5px 0px;
}
span.next-dr-name {
    display: block;
    font-size: 10px;
    color: #fff;
    line-height: 17px;
    text-transform: lowercase;
	color:#616060;
}
span.dr-time-nxt {
    font-size: 36px;
    display: block;
    color: #444444;
    line-height: 30px;
    font-weight: 700;
}
span.next-dr-tm {
    font-size: 14px;
    color: #444444;
    line-height: 14px;
}
/*************left side***********************/
/*************middle side***********************/
.draw-ui:after {
    content: '';
    clear: both;
    display: block;
}
.middle-col {
    width: calc(100% - 465px);
    float: left;
    margin-top: 6px;
    margin-left: 10px;
    position: relative;
	overflow: hidden;
}
.draw-name {
    float: left;
    text-transform: uppercase;
    color: #fff;
    background-color: #0c0c0c;
    height: 74px;
    padding: 6px 0px;
    text-align: center;
    width: 34px;
    border-radius: 3px 0px 0px 3px;
    position: relative;
}
.draw-name:after {
    position: absolute;
    background-color: #362464;
    content: '';
    width: 34px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}
.draw-name * {
    z-index: 10;
    position: relative;
}
.draw-name h5 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
	/*-ms-transform: rotate(270deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	transform: rotate(270deg);*/
    position: absolute;
    margin: 0px;
    top: 33px;
    left: -5px;
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
	writing-mode: lr-tb;
}
.draw-no-top {
    width: 100%;
    float: left;
}
.draw {
    float: left;
    width: 40%;
    background-color: rgba(35, 71, 107, 0.7);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}
.no-of-draw {
    float: left;
    padding: 0px 0px;
    text-align: center;
    width: 43%;
}
span.number-of {
    display: block;
    font-size: 16px;
    color: #fff;
    margin: 6px 0px;
    font-weight: 300;
}
span.or {
    float: left;
    color: #fff;
    font-size: 11px;
    background-color: #594298;
    border-radius: 50%;
    width: 7.5%;
    text-align: center;
    padding: 3px 0px;
    top: 0;
    margin: 30px 0px;
}
span.or:before {
    content: '';
    border-right: 1px solid #356887;
    position: absolute;
    top: 0;
	margin-top:-80px;
    height: 200px;
    margin-left: 8px;
}
span.or:after {
    content: '';
}
.no-of-draw input {
    width: 86px;
    height: 36px;
    border: 1px solid #584096;
    border-radius: 3px;
    text-align: center;
    font-size: 15px;
	line-height:36px;
    padding: 0px 5px;
}
.advance-draw {
    float: left;
    width: 44%;
    margin-left: 3%;
    text-align: center;
}
.advance-draw a {
   background-color: #594298;
    color: #fff;
    text-decoration: none;
    padding: 0px 0px;
    display: block;
    width: 92%;
    margin-top: 5px;
    border: 1px solid #362464;
    text-align: center;
    border-radius: 3px;
    height: 36px;
    font-weight: 300;
}



/* .advance-draw a span {
    display: block;
    font-size: 26px;
    margin-top: -21px;
    letter-spacing: 2px;
} */
.result-name {
    float: left;
    text-transform: uppercase;
    color: #fff;
    background-color: #0c0c0c;
    height: 74px;
    padding: 6px 0px;
    text-align: center;
    width: 34px;
    border-radius: 3px 0px 0px 3px;
    position: relative;
}
.result-name:after {
    position: absolute;
    background-color: #362464;
    content: '';
    width: 34px;
    height: 200px;
    top: 0;
    left: 0;
    z-index: 1;
}
.result-name * {
    z-index: 10;
    position: relative;
}
.result-name h5 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    margin: 0px;
    top: 31px;
    left: -14px;
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
}
.results {
    float: right;
    margin-left: 5px;
    background-color: #0092c1;
    width: 59%;
    border-radius: 3px;
    overflow: hidden;
}
.results-number {
    float: right;
    width: calc(100% - 35px);
}
.win-nmd {
    float: left;
    text-align: center;
    width: 90px;
    margin: 0;
    padding: 10px 0px 0px 0px;
    font-size: 15px;
    color: #fff;
    background-image: url(/assets/images/draw/calender-bg-icon.png);
    background-repeat: no-repeat;
    background-position: 10px 1px;
    height: 85px;
}
.results-number ul {
       margin: 0 auto;
    padding: 0px;
    text-align: center;
    width:calc(100% - 92px);
    float: left;
	position:relative;
}
.results-number ul li {
    list-style: none;
    display: block;
	float:left;
    background-color: #023F6B;
    border-radius: 50%;
    padding: 0;
    font-size: 16px;
    color: #fff;
    margin: 3px 15px 0px 0px;
    border: 1px solid #fff;
    width: 36px;
    height: 36px;
    line-height: 37px;
}
.results-number ul:after{ clear:both; content:' '; display: block;}
.kenoresult ul {
        float: left;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    width:357px;
}
.kenoresult ul li {
       list-style: none;
    display: inline-block;
    background-color: #023F6B;
    border-radius: 50%;
    padding: 0;
    font-size: 16px;
    color: #fff;
    height: 31px;
    margin: 5px 1px;
    float: left;
    width: 31px;
    line-height: 31px;
     border: 1px solid #fff;
}
.bet-name {
    float: left;
    text-transform: uppercase;
    color: #fff;
    background-color: #0c0c0c;
    height: 96px;
    padding: 6px 0px;
    text-align: center;
    width: 34px;
    border-radius: 3px 0px 0px 3px;
    position: relative;
}
.bet-name h5 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    margin: 0px;
    top: 40px;
    left: -14px;
    font-size: 15px;
    padding: 0px;
    font-weight: 400;
}
.bet-name-n h5 {
    font-size: 12px;
    width: 96px;
    left: -31px;
    top: 32px;
}
.bet-type {
    float: left;
    margin-top: 5px;
    width: 100%;
}
.bettype {
    float: left;
    background-color: rgba(22, 55, 88, 0.70);
    width: 84%;
    border-radius: 3px;
    width: calc(100% - 125px);
    margin-right: 6px;
}
.bet-tab {
    float: right;
    padding-top: 6px;
    width: calc(100% - 34px);
}
input.ntpk {
    margin-top: 22px;
    padding: 10px 5px;
    border: 0px;
    display: inline-block;
    border-radius: 3px;
    font-size: 15px;
    text-align: center;
    width: 150px;
}
.bet-tab button {
    float: left;
    width: 19%;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 9px 0px;
    border: 1px solid #402f6d;
    font-size: 15px;
    background-color: #574095;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

 
 
/* button:focus,
.reset button:focus,
.select-amt button:focus,
.advance-draw a:focus {
    background-color: rgba(112, 248, 253, 0.77);
    color: #031f31;
} */
.bet-tab button.select-bet {
    border: 1px solid #c23a2c;
    background-color: #be3122;
}
.select-amt input {
    float: left;
    width: 31%;
    color: #333;
    background-color: #fff;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 7px 0px;
    border-radius: 3px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgb(137, 137, 137);
}
.quick-p {
    float: right;
    width: 119px;
    background-color: #01406b;
    border-radius: 3px;
    border: 2px solid #0185bd;
    text-align: center;
    padding: 14px 0px;
    margin-top: 10px;
    margin-right: 10px;
}
.quick-p span {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.quick-p input {
    width: 18px;
    height: 18px;
    margin: 0 auto;
}
.numbers-area {
    float: left;
    width: 100%;
    margin-top: 5px;
    background-color: #125275;
    border-radius: 3px;
    padding-bottom: 4px;
}
.number-select {
    float: left;
    padding: 7px 0px 7px 7px;
    width: calc(100% - 222px);
}
.number-select ul {
    margin: 0px;
    padding: 0px;
}
.number-select ul li {
   list-style: none;
    width: 16%;
    text-align: center;
    background-color: #0092c1;
    margin: 0px;
    padding: 26px 0px;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    margin-bottom: 2px;
    float: left;
    margin-left: 2px;
    font-weight: 300;
    cursor: pointer;
    webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .1s ease-in-out;
}
.number-select ul li.selectnumber,
.select-no-2 ul li.selectnumber,
.number-select-12 ul li.selected-number,
.ad-draw-check-box.select-checkbox {
    background-color: #be3122;
    color: #fff;
}
.enter-number {
    float: right;
    width: 205px;
    padding: 15px 5px 5px 0px;
    position: relative;
}
.input-area {
    float: left;
    width: 100%;
}
.input-area input {
    float: left;
    width: 30%;
    margin-right: 4px;
    border: 1px solid #bcb6cc;
    margin-bottom: 4px;
    padding: 13px 0px;
    text-align: center;
    font-size: 32px;
    font-weight: 300;
    color: #333;
}
.reset {
    float: left;
    padding: 0px 0px;
    width: 97%;
    margin-top: 5px;
	position:relative;
}
.reset button {
    width: 100%;
    float: left;
    border: 1px solid #0185bd;
    background-color: #01406b;
    font-size: 22px;
    text-transform: uppercase;
    padding: 11px 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
}
.reset button:hover, .reset-2 button:hover{background-color: #be3122; border: 1px solid #c23a2c;}
.reset button:focus, .reset-2 button:focus{    border: 2px dotted #ffffff;
    background-color: #be3122;/*padding: 10px 0px;*/}
/*************middle side***********************/
/*************right side***********************/

.right-col {
    width: 250px;
    float: left;
    margin-left: 10px;
}
.win-set-button {
    margin-top: 5px;
    position: relative;
}
.winning-button {
    width: 49%;
    float: left;
    line-height: 1;
}
.winning-button button {
    background-color: #f4a713;
    border: 0px;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    padding: 2px 6px;
    margin: 0px;
    width: 100%;
}
.winning-button button figure,
.setting-button button figure {
    width: 50px;
    float: left;
    margin: 0px;
    padding: 0px;
}
.winning-button button img,
.setting-button button img {
    margin: 0 auto;
}
.winning-button button > span,
.setting-button button > span {
    width: calc(100% - 35px);
    text-align: left;
    text-transform: uppercase;
    margin: 6px 0px;
    float: left;
    font-size: 13px;
    line-height: 13px;
}
.setting-button {
    width: 48%;
    float: right;
}
.setting-button button {
    background-color: #133c77;
    border: 0px;
    color: #fff;
    height: 40px;
    border-radius: 3px;
    padding: 2px 6px;
    margin: 0px;
    width: 100%;
}
.setting-button button span {
    margin-top: 12px;
}
.figure{ display:inline-block;}
.prize {
    float: left;
    width: 100%;
    margin-top: 5px;
}
.prize h5 {
    margin: 0px;
    padding: 6px 0px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #0c0c0c;
    border-radius: 3px 3px 0px 0px;
}
.list-prize {
    background-color: #fff;
    width: 100%;
    margin-top: 1px;
    border-radius: 0 0 3px 3px;
    height: 164px;
    overflow-x: hidden;
}

.list-prize.new-prize {
    height: 104px;
}
table.table-prize {
    width: 100%;
    min-height: 117px;
}
table.table-prize thead {
    background-color: #e0e0e0;
}
table.table-prize tbody tr {} table.table-prize tr th {
    font-size: 11px;
    text-align: center;
    padding: 6px 6px;
    font-weight: 500;
}
table.table-prize tr th:last-child {
    text-align: right;
}
table.table-prize tr td {
    font-size: 11px;
    text-align: center;
    padding: 6px;
    border-bottom: 1px solid #ddd;
}
table.table-prize tr td:last-child {
    text-align: right;
}
.purchase-detail {
    width: 100%;
    margin-top: 5px;
    float: left;
    
}
.purchase-detail h5 {
    margin: 0px;
    padding: 7px 0px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #0c0c0c;
    border-radius: 3px 3px 0px 0px;
    font-weight: normal;
}
.draw-dt {
    background-color: #fff;
    width: 100%;
    float: left;
}
.dr-right {
    float: right;
    width: 75%;
    margin-right: 5px;
    padding: 5px 0px;
    height: 45px;
    overflow: auto;
}
.dr-right span {
    display: block;
    font-size: 11px;
    text-align: left;
    color: #656565;
}
.draw-list {
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e2e2e2;
    /*float: left;*/
}
.draw-list:after{ content:' '; display:block; clear:both;}
.dr-letf {
    float: left;
    font-size: 11px;
    font-weight: bold;
    margin-left: 5px;
    padding: 5px 0px;
}
.bt-left {
    float: left;
    padding: 8px 4px 8px 5px;
    border-right: 1px solid #e2e2e2;
}
.bt-right {
    float: right;
    margin-right: 5px;
    padding: 8px 0px;
}
.h-bt {
    font-size: 10px;
    font-weight: bold;
    float: left;
}
.h-dr {
    float: left;
    font-size: 11px;
    margin-left: 1px;
    color: #656565;
}
.num {
    padding: 8px 0px 8px 5px;
   /* float: left;*/
   word-break: break-all;
}
.num:after{ content:' '; display:block; clear:both;}
.bet-amt {
    float: left;
    width: 100%;
    background-color: #e0e0e0;
}
.bet-amt h6 {
    margin: 0;
    padding: 2px 0px;
    text-align: center;
}
.select-amt {
    float: left;
    width: 100%;
}
.select-amt button {
    float: left;
    width: 31%;
    border: 0;
    color: #fff;
    background-color: #133c77;
    margin-left: 4px;
    margin-bottom: 4px;
    padding: 8px 0px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}
.select-amt button:focus{    background-color: #FF1B02;
    border: 2px dotted #fff;
    padding: 6px 0px;
    box-shadow: inset 0px 0px 6px #610404;}
.select-amt button i {
    font-size: 11px;
    margin-right: 2px;
}
.select-amt button.amt-select, .select-amt button:hover {
    background-color: #be3122;
}
.buy-now {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 5px 0px;
    position: relative;
    border-radius: 0 0 3px 3px;
}
.buy-now button {
        margin: 0px 5px;
    width: 96%;
    background-color: #006600;
    font-size: 48px;
    text-align: left;
    font-weight: normal;
    border: 0;
    border-radius: 3px;
    padding: 2px 0px;
    cursor: pointer;
    overflow: hidden;
    border: 2px dotted #006600;
}
.buy-now button:disabled {
   /* background-color: #3a793a;*/
    border: 2px dotted #6B6B6B;
}

.buy-now button:disabled span.buy-span{    color: #9CB17A;
    border-left: 1px solid #9CB17A;}

.buy-now button:focus{border: 2px dotted #FFFFFF;
    background: #FD3119 ;
    background: -moz-linear-gradient(top, #F22B16 0%, #FD3119 50%, #C33020 100%);
    background: -webkit-linear-gradient(top, #F22B16 0%,#FD3119 50%,#C33020 100%);
    background: linear-gradient(to bottom, #F22B16 0%,#FD3119 50%,#C33020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F22B16', endColorstr='#C33020',GradientType=0 );
}
.buy-now button:focus span.buy-span{    color: #fff;
    border-left: 1px solid #fff;}

.buy-now button:hover{    border:2px dotted #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#137200+0,00870d+50,015600+100 */
/*background: #137200; 
background: -moz-linear-gradient(top, #137200 0%, #00870d 50%, #015600 100%); 
background: -webkit-linear-gradient(top, #137200 0%,#00870d 50%,#015600 100%);
background: linear-gradient(to bottom, #137200 0%,#00870d 50%,#015600 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#137200', endColorstr='#015600',GradientType=0 ); */
}
.buy-now button:disabled span.rupees-icon {
    color: #85af85;
}
span.buy-span {
            float: right;
    width: 34%;
    font-size: 18px;
    text-align: center;
    line-height: 105%;
    padding: 3px 0px;
    color: #94ff08;
    border-left: 1px solid #94ff08;
    margin: 7px 0px 6px 0px;
}
span.buy-span span {
    font-size: 26px;
    display: block;
}
span.rupees-icon i {
    font-size: 28px;
    font-weight: normal;
    margin-right: 2px;
    font-size: 20px;
}
span#tktPrice {
    font-size: 37px;
}
span.rupees-icon {
    width: 65%;
    text-align: center;
    float: left;
    font-weight: 300;
    font-size: 42px;
    line-height: 125%;
    color: #fff;
}
.draw-right {
    width: calc(100% - 34px);
    float: left;
}
/*************right side***********************/

.draw-freezed {
    position: absolute;
    background-color: rgb(0, 0, 0);
	opacity:0.85;
	filter: alpha(opacity=85);
    height: 100%;
    top: 0;
    width: 100%;
    border-radius: 3px;
    z-index: 1000;
}
.freezed-timer {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -118px;
    margin-left: -130px;
}
.freezed-timer span {
    font-size: 36px;
    text-transform: uppercase;
    display: block;
}
.timer-freezed {
    width: 182px;
    min-height: 118px;
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 32px 0px;
    text-align: center;
    font-size: 51px;
    font-weight: 200;
    line-height: 115%;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
}
.timer-freezed span {
    display: block;
    font-weight: 300;
    font-size: 68px;
}

/***************full screen*********************/

.full-screen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.84);
    width: 100%;
    top: 60px;
    height: calc(100% - 60px);
    z-index: 9999;
	overflow-y:auto;
}
.popup {
    position: absolute;
    width: 776px;
    height: auto;
    background-color: white;
    left: 50%;
    top: 100px;
    margin-left: -388px;
    border-radius: 5px;
    border: 1px solid #373737;
    overflow: hidden;
}

.gm-result {
    width: 100%;
    /*float: left;*/
    position: relative;
   /* min-height: 470px; */
}
.game-name-tab {
    padding: 5px 10px;
    overflow: hidden;
}
.game-name-tab:after{content:' '; display:block; clear:both;}
.game-name-tab button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#023988+0,023277+50,042b62+100 */
    
    background: #023988;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #023988 0%, #023277 50%, #042b62 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(top, #023988 0%, #023277 50%, #042b62 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to bottom, #023988 0%, #023277 50%, #042b62 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#023988', endColorstr='#042b62', GradientType=0);
    /* IE6-9 */
    
    outline: 0;
    color: #fff;
    border: 0;
    padding: 7px 2px;
    width: 24.77%;
    float: left;
    margin-right: 2px;
    border-radius: 3px;
    opacity: 1;
    position: relative;
    
}
/*.game-name-tab button.active-button-result{opacity: 1;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.64);}*/

.game-name-tab button.active-button-result:after {
    content: '';
    border-left: 6px solid rgba(19, 60, 119, 0);
    border-right: 6px solid rgba(19, 60, 119, 0);
    border-bottom: 6px solid rgba(19, 60, 119, 0);
    border-top: 6px solid #042B63;
    position: absolute;
    left: 50%;
    bottom: -12px;
}
.game-name-tab button:last-child {
    margin-right: 0;
}
.game-name-tab button span {
    float: left;
        width: 100%;
}
.game-name-tab button span.gm-name-tab {
    float: right;
    /* border-left: 1px solid #2d4c78; */
    
    padding: 0px 5px;
    text-align: center;
    text-transform: uppercase;
    width: 66px;
    line-height: 105%;
    font-size: 12px;
}
.gm-tab-result-list {
    float: left;
    width: 100%;
    padding: 0;
    height: auto;
    overflow: auto;
    margin-top: 10px;
}
.game-name-tab button.active-button-result {
    opacity: 1;
    position: relative;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.64);
  /*   border: 1px solid #c23a2c; */
    background: #be3122;
}
.game-name-tab button.active-button-result:after {
    content: '';
    border-left: 10px solid rgba(19, 60, 119, 0);
    border-right: 10px solid rgba(19, 60, 119, 0);
    border-bottom: 10px solid rgba(19, 60, 119, 0);
    border-top: 10px solid #be3122;
    position: absolute;
    left: 50%;
    bottom: -16px;
}
.game-name-tab button span.sp-keno {
    padding: 10px 5px;
}

.game-name-tab button span.span-keno-new{position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0, -50%);
        display: none;
    }
    

.gm-tab-result-list1 {
    float: left;
    width: 100%;
    padding: 0;
    height: 420px;
    overflow: auto;
    margin-top: 10px;
}
.draw-gm-name {
    float: left;
    width: 100%;
}
.draw-gm-name h4 {
    margin: 0px;
    padding: 9px 0px;
    background: #dfe5ed;
    text-align: center;
    font-size: 16px;
    color: #0c2446;
    text-transform: uppercase;
}
.list-result-gm {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.list-result-gm ul {
    margin: 0 auto;
    padding: 5px 0px;
    list-style: none;
    text-align: center;
}
.list-result-gm ul li {
    display: inline-block;
    width: 39px;
    height: 39px;
    background: #ec4230;
    background: -moz-linear-gradient(top, #ec4230 0%, #fc5240 50%, #b32617 100%);
    background: -webkit-linear-gradient(top, #ec4230 0%, #fc5240 50%, #b32617 100%);
    background: linear-gradient(to bottom, #ec4230 0%, #fc5240 50%, #b32617 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ec4230', endColorstr='#b32617', GradientType=0);
    border-radius: 50%;
    padding: 2px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    line-height: 36px;
}
.col-span-12 {
    padding: 10px;
    overflow: hidden;
}
.col-span-4 {
    float: left;
    width: 32%;
    margin-left: 1%;
}
.ad-draw-check-box {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    padding: 0 3px;
    border: 1px solid #d4d4d4;
    font-size: 13px;
    background-color: #fff;
    border-radius: 3px;
    color: #153a60;
    text-transform: uppercase;
    cursor: pointer;
}
.ad-draw-check-box label {
    padding: 15px 0px;
    float: left;
    margin-bottom: 0;
    cursor: pointer;
}
.ad-draw-check-box input {
    margin-top: 16px;
    float: left;
    margin-right: 3px;
}
.button-tab {
    margin: 10px;
}
.text-center {
    text-align: center;
}
.button-cancel button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(1, 35, 72, 0.77);
	background-color: rgb(1, 35, 72)\9;
    border-bottom: 3px solid #2B4056;
    font-size: 16px;
    text-transform: uppercase;
    color: #a9c4e0;
}
.button-cancel,
.button-submit {
    display: inline-block;
    margin: 0 2px;
}
.button-submit button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #e03927;
    border-bottom: 3px solid #b32f21;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}
/***************full screen*********************/

span.error-msg {
    float: left;
    background-color: #fda7a7;
    color: #ad000e;
    padding: 0 10px;
    border-radius: 3px;
    font-size: 12px;
    line-height: 21px;
    position: absolute;
    width: 100%;
    right: 0;
    top: 0;
}
.error-div #advError {
    float: none;
    background-color: #fda7a7;
    color: #ad000e;
    padding: 0;
    border-radius: 3px;
    font-size: 12px;
    line-height: 21px;
    position: relative;
    width: 250px;
    right: 0;
    display: inline-block;
}
.ticket-view {
    width: 100%;
     height: 164px;
    overflow: auto;
    background-color: #fff;
    border-radius: 0px 0px 3px 3px;
}
/***************1/12 game*********************/

.number-select-12 {
    float: left;
    padding: 7px 0px 7px 7px;
    width: calc(100% - 7px);
}
.number-select-12 ul {
    margin: 0px;
    padding: 0px;
}
.number-select-12 ul li {
    list-style: none;
    width: 16.3%;
    text-align: center;
    background-color: #0092c1;
    margin: 0px;
    padding: 38px 0px;
    font-size: 32px;
    color: #fff;
    margin-bottom: 2px;
    float: left;
    margin-left: 2px;
    font-weight: 300;
    cursor: pointer;
    height: 56px;
    webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .1s ease-in-out;
}
.number-select-12 ul li span {
    display: block;
    font-size: 20px;
}
.enter-number-12 {
    float: left;
    width: calc(100% - 14px);
    padding: 9px 7px;
    position: relative;
}
.input-area-12 {
    float: left;
    width: 75%;
}
.input-area-12 input {
    float: left;
    width: 18%;
    margin-right: 4px;
    border: 1px solid #0185bd;
    margin-bottom: 4px;
    padding: 18px 0px 17px 0px;
    text-align: center;
    font-size: 32px;
}
.reset-12 {
    float: right;
    padding: 0px 0px;
    width: 25%;
    margin-top: 12px;
	position:relative;
}
.reset-12 button {
    width: 100%;
    float: right;
    border: 1px solid #0185bd;
    background-color: #01406b;
    font-size: 22px;
    text-transform: uppercase;
    padding: 11px 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
}
/***************1/12 game*********************/
/***************1/80 game*********************/

.col-my-10 {
    width: 100%;
    float: left;
}
.col-my-2 {
    width: 100%;
    float: left;
}
.select-no-2 {
    margin:10px 0px 5px 0px;
    display: block;
    overflow: hidden;
    padding-left: 10px;
}
.select-no-2 ul {
    margin: 0px;
    padding: 0px;
}
.select-no-2 ul li {
    list-style: none;
    margin: 0;
    width: 6.0%;
    margin-right: 0.2%;
    text-align: center;
    background-color: #0092c1;
    margin-bottom: 0.2%;
    color: #ffffff;
    font-size: 20px;
    padding: 13px 0px;
    cursor: pointer;
    webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    float: left;
    font-weight: 300;
    line-height: 24px;
}
.input-select-no-2 {
    padding: 0px 10px 0px 10px;
	height: 108px;
}
.input-box-fill-2 {
    margin: 0;
    display: inline-block;
    width: 80%;
}
.input-box-fill-2 input {
    float: left;
    width: 16%;
    border: 0;
    margin: 0px 4px 4px 0px;
    padding: 11px 10px;
    webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
        border: 1px solid #ffffff;
}
.reset-2 {
    float: right;
    width: 19%;
    margin-top: 28px;
	position:relative;
}
.reset-2 button {
    width: 100%;
    float: left;
    border: 1px solid #0185bd;
    background-color: #01406b;
    font-size: 22px;
    text-transform: uppercase;
    padding: 11px 0px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 300;
}
/***************1/80 game*********************/
/*****************12/24 game result css*****************/

.result-window-div, .result-div-nd {
    float: left;
    width: 100%;
    padding: 0;
    max-height: 390px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
.popup {
    box-shadow: 0px 0px 18px #4e4e4e;
}
.col-span-6 {
    width: 47.5%;
    float: left;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    padding: 0;
    margin-left: 1.5%;
    margin-bottom: 1.5%;
}
.span-heading {
    background-color: #004469;
    padding: 0px 5px;
        min-height: 29px;
}
.span-heading h4 {
    display: inline-block;
    text-align: left;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    margin: 5px 0px;
}
.span-heading span {
    display: inline;
    float: right;
    padding: 3px 7px;
    cursor: pointer;
}
.span-heading span i {
    font-size: 20px;
    color: #fff;
}

#drawGameResults:after {
    content: '';
    clear: both;
    display: block;
}

.filter_bar {
  /*  bottom: 0px;*/
    z-index: 100;
    padding: 7px 0;
   /* position: absolute;*/
    width: 100%;
    text-align: center;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 5px #7b7b7b;
}
.filter_bar:after{ content:''; display:block; clear:both;}


/***********ticket css*********************/

.filter_bar a {
    background: #4db202;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #4db202 0%, #2a6400 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4db202), color-stop(100%, #2a6400));
    background: -webkit-linear-gradient(top, #4db202 0%, #2a6400 100%);
    background: -o-linear-gradient(top, #4db202 0%, #2a6400 100%);
    background: -ms-linear-gradient(top, #4db202 0%, #2a6400 100%);
    background: linear-gradient(to bottom, #4db202 0%, #2a6400 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4db202', endColorstr='#2a6400', GradientType=0);
    padding: 11px 0px;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
    border-radius: 6px;
    webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}
.div-filter-4 {
    float: left;
    width: 33%;
}
.date-filter input {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ababab;
    border-radius: 3px;
    width: 60%;
}
.date-filter span,
.time-filter span {
    font-size: 14px;
}
.time-filter input {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ababab;
    border-radius: 3px;
    width: 60%;
}
.dearch-filter {} .dearch-filter input {
    display: inline-block;
    padding: 8px 10px;
    border: 1px solid #075807;
    border-radius: 3px;
    width: 60%;
    background-color: #348a34;
    color: #fff;
    text-transform: uppercase;
}
/*****************12/24 game result css*****************/
/*****************1/12 game result css*****************/

.result-div-2 {
    float: left;
    width: 100%;
    padding: 0;
    max-height: 390px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
.draw-result-20 {
    margin: 0px;
    padding: 7px 2px;
    list-style: none;
}
.draw-result-20 li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    border: 1px solid #a01809;
    text-align: center;
    margin: 0px;
    padding: 0px;
    margin-left: 1%;
    margin-bottom: 4px;
    border: 1px solid #c1c1c1;
    background: #fff;
    color: #333;
}
.resultdiv-3 {
    padding: 8px 10px;
    overflow: hidden;
}
.icon-nm {
    float: right;
    font-size: 22px;
    line-height: 42px;
    font-weight: 300;
}
.resultdiv-3 span {
    float: left;
    font-size: 36px;
    font-weight: 300;
}
.result-div-3 {
    float: left;
    width: 100%;
    padding: 0;
    height: 390px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
.result-div-4 {
    float: left;
    width: 100%;
    padding: 0;
    height: 390px;
    overflow: auto;
    margin-top: 10px;
    padding-bottom: 50px;
}
.icon-nm strong {
    font-weight: normal;
    font-size: 16px;
}
.roul {
    float: left;
    width: 45px;
    height: 45px;
    line-height: 42px;
    position: relative;
    display: block;
    font-size: 30px;
    border: 2px solid #fff;
    box-sizing: border-box;
    background: #be3122;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #6b6b6b;
    color: #fff;
    font-weight: 300;
}
/*****************1/12 game result css*****************/
/*****************mouse over css*****************/

.game-name-tab button:hover,
.span-heading:hover,
.dearch-filter input:hover {
    opacity: 0.8;
}
.ui-left-menu button:hover {
    background-color: #be3122
}
.no-of-draw input:hover,
.input-area input:hover,
.input-box-fill-2 input:hover,
.input-area-12 input:hover {
        border: 1px solid #000000;
    background-color: whitesmoke;
}
.advance-draw a:hover{    border: 1px solid #0092c1;
        background-color: #033556;}

.quick-p:hover {
      border: 2px solid #c23a2c;
    background-color: #be3122;
}
.select-no-2 ul li:hover,
.number-select ul li:hover,
.number-select-12 ul li:hover {
        box-shadow: inset 0px 0px 19px #1F1F1F;
}
.reset-12 button:hover {
    background-color: #094e7d;
}
.winning-button button:hover {
    background-color: #cc942b;
}
.setting-button button:hover {
    background-color: #2e63af;
}
.float-right {
    float: right;
}
/*****************mouse over css*****************/

/*****************result drop*****************/
.down-menu {
       position: absolute;
    width: 175px;
    right: 0;
    top: 51px;
    background-color: #133c77;
    padding: 15px 0px;
    border-radius: 5px 0px 5px 5px;
    box-shadow: -1px 2px 2px #1F1F1F;
    z-index: 1000;
}
.down-menu button{    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    margin: 0px;}
    .down-menu button:hover{background-color:#0c2446;}
.down-menu button.active-button{background-color:#0c2446;}
.down-menu button span{color: #fff;
    float: left;
    font-size: 14px;
    text-transform: uppercase;    line-height: 23px;}
.down-menu button span img{float: left;margin-right: 10px;}
/*****************result drop*****************/

/************timer *****************/
.timer-div{position: absolute;
background-color: rgba(0,0,0,0.85);
height: 123%;
top: -100px;
width: calc(100% - 0px);
border-radius: 3px;
z-index: 9999;
}
.coutndown-wrapper {
color: #fff;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
text-align: center;
margin-top: -94px;
margin-left: -94px;
width: 188px;
height: 188px;
}
.coutndown-wrapper-time {
left: 50%;
top: 50%;
font-size: 44px;
font-weight: 200;
text-align: center;
margin-left: -75px;
margin-top: -35px;
width: 150px;
height: 75px;
}
.tmr {
width: 182px;
height: 182px;
border: 4px solid rgba(255, 255, 255, 0.26);
border: 4px solid #ffffff;
top: 50%;
left: 50%;
text-align: center;
margin-top: -94px;
margin-left: -94px;
position: absolute;
border-radius: 182px;
}
.draw-fr {
font-size: 36px;
text-transform: uppercase;
display: block;
width: 285px;
margin-left: -53px;
margin-top: 177px;
color: #fff;
}
.float-left{float: left;}
.float-right{float: right;}


/************timer *****************/



/***********ticket css*********************/

div#tktGen {
    width:100%;
    margin: 0 auto;
}

/***********ticket css*********************/


 .tkt-no-ct{
    width: 40%;
    margin: 0 auto;
}
.tkt-no-ct input{
    padding: 9px 0px;
    width: 100%;
    margin: 20px 0px 10px 0px;
    border-radius: 3px;
    border: 1px solid rgb(161, 161, 161);
    text-align: center;
}
div#error-message {
margin: 0 auto;
background-color: #fda7a7;
color: #ad000e;
padding: 0 10px;
border-radius: 3px;
font-size: 12px;
line-height: 21px;
width: 31%;
right: 0;
}
div#error-message1 {
margin: 0 auto;
background-color: #fda7a7;
color: #ad000e;
padding: 0 10px;
border-radius: 3px;
font-size: 12px;
line-height: 21px;
width: 31%;
right: 0;
}
.error-div {
width: 60%;
margin: 0 auto;
text-align: center;
}

span#noOfAdvDraws{
    font-size: 19px;
    margin-top: 0px;
    line-height: 35px;
    color: #ffffff;
}

/***************result date css**********************/

div#selectedDateTimePickerDiv {
    position: absolute;
    top: 2px;
    right: 27px;
}
.date-filter {position: relative;} 
.time-filter {}
.time-filter select{padding: 5px 10px;
    width: 60%;
    font-size: 13px;} 
    

/***************result date css**********************/

/****************UI changes*****************************/

span.dotted{     font-size: 30px;
    letter-spacing: 6px;
    height: 36px;
    width: 100%;
    margin: 0 auto;
    float: left;
    line-height: 21px;}

.select-amt .amt-ar-new{    background-color: #be3122;}
.qpFocus{    background-color: #be3122; border: 2px dotted #fff;}

.no-of-draw input:focus{border: 2px dotted red;}
.advance-draw a:focus {
       border: 2px dotted red;
       background-color: #fff;
}
.advance-draw a:focus span{    color: black;}
.bet-tab button:focus {
    border: 2px dotted white;
    background-color: #be3122;
    outline: 0;
    padding: 8px 0px;
}
.bet-tab button:hover {
                  border: 2px dotted white;
    background-color: #BE3122;
    padding: 8px 0px;
    /* box-shadow: inset 0px 0px 8px black; */
}

:focus{outline:0;}
span.month-span {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 28px;
    color: #333;
    height: 20px;
}
span.year-span {
           display: block;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
}
span.time-span {
            display: block;
    font-size: 18px;
    text-align: center;
    color: #333;
    line-height: 20px;
}
ul.sign-res{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 4px;
}

.fortune-re {
    float: left;
    border-right: 1px solid #3aa3c5;
    width: 70px;
    background-color: #153c5e;
    border-radius: 3px;
    margin: 0;
    margin-left: 9px;
    padding: 2px 0px;
}
.fortune-re:last-child{
    border-right: 0;
}
.fortune-res {
    display: block;
}

.res-ftr {
    display: block;
    margin-top: 2px;
}
span.span-re {
    display: block;
    font-size: 11px;
    font-weight: 300;
    color: #fff;
}
span.span-re1 {
    display: block;
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 13px;
}
span.span-re2 {
       display: block;
    font-weight: 800;
    font-size: 28px;
    line-height: 22px;
    color: #fff;
}
span.span-re3 {
    display: block;
    font-size: 14px;
    color: #fff;
}
.toottip-div{display:none;    position: relative;}
.toottip-div div{
         position: absolute;
    color: #BF0918;
    background-color: #FFBDB7;
    border: 2px solid #F75455;
    width: 96%;
    left: 1%;
    border-radius: 3px;
    font-size: 13px;
    text-align: center;
    padding: 12px 3px;
    /*top: -65px;*/
    bottom: 7px;
}
.toottip-div span{bottom: -9px;
    left: 50%;
    margin-left: -11px;
    border-bottom-width: 0;
    border-bottom-color:transparent;
    border-top-color: rgb(247, 84, 85);
    border-width: 9px;
    position: absolute;
    border-style: solid;
    border-left-color:transparent;
    border-right-color:transparent;}
.toottip-div span:after{content: '';
    bottom: -3px;
    margin-left: -6px;
    border-bottom-width: 0;
    border-bottom-color: transparent;
    border-top-color: rgb(255, 189, 183);
    border-width: 6px;
    position: absolute;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;}
/****************UI changes*****************************/

.prize-s {
	display: block;
}
.prize-s1 {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgb(237, 237, 237);
	padding: 7px 0px;
	text-align: center;
}

span.prize-sp {
	font-size: 14px;
	padding: 0px 2px;
}

span.prz {
	font-size: 24px;
}

span.prz i {
	font-size: 14px;
}

/************success popup***************************/

.systemMSG1.popup1.success {
 	background-color: #e2efca;
    border-color: #bcc7b1;
    box-shadow: 0px 0px 12px rgb(56, 58, 54);
}
.popup1.systemMSG1.success h5 {
background-color: #a5bf95;
    color: #537354;
}
.popup1 h5 {
margin: 0px;
padding: 10px 10px;
background-color: #0c0c0c;
color: #fff;
font-size: 16px;
text-transform: uppercase;
}

.popup1.systemMSG1.success h5 button {
 background-color: #8cab4f;
}

.popup1 h5 button {
background-image: url(/assets/images/draw/close-icon.png);
background-repeat: no-repeat;
width: 26px;
height: 26px;
border: 0;
background-position: center center;
border-radius: 50%;
background-size: 50%;
background-color: transparent;
float: right;
outline: 0;
margin-top: -3px;
}

.systemMSG1.popup1 {
position: absolute;
width: 100%;
max-width: 400px;
background-color: white;
left: 50%;
top: 50%;
margin: 0;
border-radius: 5px;
border: 2px solid #fff;
overflow: hidden;
height: 137px;
z-index: 999;
margin-left: -200px;
margin-top: -70px;
}
.modal-body {
position: relative;
padding: 20px 10px;

}

.systemMSG1.popup1 .iconBox {
overflow: hidden;
text-indent: -9000px;
position: relative;
padding: 0;
height: 100px;
}
.popup1.systemMSG1.success .msgBox {
 color: #83ab4f;
}
.systemMSG1.popup1 .msgBox {
padding: 0;
font-size: 15px;
padding-top: 0;
}

button{outline:0 !important;}

/************success popup***************************/


/************result popup new css***************************/
.result-pop-dt {
    background-image: url(/assets/images/draw/calender-bg-icon.png);
    width: 90px;
    height: 85px;
    float: left;
        background-repeat: no-repeat;
        background-position: 13px 0px;
}
ul.draw-result-12 {
        margin: 0px;
    padding: 0px 0px;
    list-style: none;
    float: left;
    width: 260px;
    margin-top: 2px;
}

.result-div {
        width: 100%;
    float: left;
    padding: 8px 0px;
}

ul.draw-result-12 li {
        width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    margin: 3px 3px;
    padding: 0px;
    background-color: #004469;
    color: #fff;
    float: left;
}
ul.draw-result-12 li.draw-result-bonus {
    background-color: #f22626;
}
.rs-dr-d {
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 37px;
    color: #333;
    height: 20px;
}

.rs-dr-t {
    display: block;
    font-size: 18px;
    text-align: center;
    color: #333;
    line-height: 20px;
}

div#timeErrorDiv {
    top: 36%;
}
ul.draw-result-12.draw-result-20 {
    width: 270px;
    margin-top: 12px;
}
ul.draw-result-12.draw-result-20 li {
    margin: 3px 1px 3px 1px;
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 25px;
    border: 0;
}

#drawGameResults > .result-div-2 > .col-span-6{    width: 31%;
    float: left;
    border: 1px solid #ABABAB;
    border-radius: 3px;
    padding: 0;
    margin-left: 1.5%;
    margin-bottom: 1.5%;}
    .result-pop-dt-ott, .result-pop-dt-roulette{    margin-left: 30px;}
    ul.draw-result-ott, ul.draw-result-roulette{    width: 102px;
    margin-top: 12px;
    float: right;}
    ul.draw-result-ott li {
    width: 65px;
    /* height: 53px; */
    border-radius: 2px;
    font-size: 34px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    margin: 3px 3px;
    padding: 0px;
    background-color: #004469;
    color: #fff;
    float: left;
    padding-top: 7px;
    display: block;
    height: auto;
}
ul.draw-result-ott li span{display: block;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
}
ul.draw-result-roulette li{
	width: 63px;
	height: 56px;
	border: 3px solid #fff;
	box-shadow: 0px 0px 6px #191919;
	border-radius: 5px;
	font-size: 32px;
	font-weight: 700;
	line-height: 56px;
}
ul.draw-result-roulette li.bxGray{ background-color: #2E2D28;}
ul.draw-result-roulette li.bxGreen{background-color: #128C12;}
ul.draw-result-roulette li.bxRed{background: #fa0200;}
    
    /****************UI changes*****************************/
table.table-prize-new{
    width: 100%;
    max-height: 188px;
}
table.table-prize-new thead{background-color: #F2F2F2;text-align: center;}
table.table-prize-new thead tr th{
font-weight: 700;
font-size: 13px;
padding: 5px 0px;}
table.table-prize-new tbody tr td{
text-align: center;
font-weight: 300;
font-size: 13px;
padding: 5px 0px;
border: 1px solid #eceeef;
}
table.table-prize-new thead tr th:first-child, table.table-prize-new tbody tr td:first-child{padding:5px 0px 5px 10px;
    text-align: left;}
table.table-prize-new thead tr th:last-child, table.table-prize-new tbody tr td:last-child{
	padding: 5px 10px 5px 0px;
    text-align: right;}
.prize-s {
	display: block;
}
.prize-s1 {
	display: block;
	width: 100%;
	border-bottom: 1px solid rgb(237, 237, 237);
	padding: 7px 0px;
	text-align: center;
}

span.prize-sp {
	font-size: 14px;
	padding: 0px 2px;
}

span.prz {
	font-size: 24px;
}

span.prz i {
	font-size: 14px;
}
div#numbertopicked {
    margin: 0px 0px 0px 6px;
}
img.set-skm{display: block;}
img.set-zim{display: none;}

/*quick pick*/
.quick-p-picked {
    float: right;
    width: 119px;
    background-color: #01406b;
    border-radius: 3px;
    border: 2px solid #0185bd;
    text-align: center;
    padding: 0px 0;
    box-sizing: border-box;
    position: relative;
    height: 96px;
}
.qp-ck{padding: 3px 0px;}
.qp-ck button {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 90%;
    color: #ffffff;
    padding: 4px 2px;
    margin-top: 2px;
}
.qp-ck label{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    display: inline-flex;
    cursor: pointer;
    }
.qp-ck input{    width: 18px;
    height: 18px;
    margin: 0;
    margin-top: 3px;
    margin-left: 6px;}
.qp-pkd-no{
    padding: 5px 0px 10px 0px;
}
.qp-pkd-no select {
    width: 90%;
    text-align: center;
    padding: 3px 10px;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #49308a;
    border-radius: 4px;
    color: #ffffff;
}
.qp-pkd-no select option {
    color: #362464;
}
.qp-pkd-no input{
    width: 95px;
    padding: 9px 0px;
    border: 0;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
}

.qp-pkd-no input:disabled {
    background-color: #496e88;
}