
/*---draw-ui-stylesheet.css start---------*/

/*************Start header side***********************/
scratch {
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: block;
  }

  header {
    background:url(/assets/images/draw-ui-HeaderBG.jpg) no-repeat center bottom;
    background-size: cover;
    min-height: 60px;
    position: relative;
  }

  nav {
    float: left;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  nav li {
    float: left;
    list-style: none;
    border-left: 1px solid #385778;
  }
  nav li:last-child {
    border-right: 1px solid #385778;
  }
  nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 19px 30px;
    text-transform: uppercase;
  }
  nav li a:hover {
    color: #febe01;
    border-bottom: 2px solid #febf02;
    padding: 19px 30px 17px 30px;
  }
  .head-right-side {
    float: right;
  }
  .my-profile {
    float: left;
    position: relative;
  }


  /* .user-name-info span:after {
    content:'';
    background-image: url(/assets/images/drop-arrow.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 6px;
    position: absolute;
    right: 15px;
    top: 28px;
  } */
  .message-tab {
    float: left;
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: 1px solid rgba(0,0,0,0.2);
    position: relative;
  }
  .message-tab a {
    padding: 19px 17px 15px 17px;
    display: block;

    -webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    transition:all 0.4s ease;
  }
  .new-tab {
    float: left;
    border-right: 1px solid rgba(0,0,0,0.2);
  }
  .new-tab a {
    padding: 19px 17px 15px 17px;
    display: block;
  }
  .logout {
    float: left;
  }
  .logout a {
    padding: 19px 17px 15px 17px;
    display: block;
  }
  .logout a:hover,
  .message-tab a:hover,
  .new-tab a:hover,
  .change-pass a:hover{
      background-color:#ffc10a;
    }
  span.new-msg {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #be3122;
    border-radius: 50%;
    font-size: 11px;
    color: #fff;
    width: 16px;
    height: 16px;
    text-align: center;
    font-weight: 600;
  }
  .open-profile {
    position: absolute;
    z-index: 9;
    background-color: #0d5b90;
    padding: 0;
    width: 215px;
    right: -1px;
    box-shadow: -1px 2px 2px #1f1f1f;
    display: block;
  }
  .active {
    background-color: #ff1616;
  }
  .user-profile {
    text-align: center;
    padding:10px 5px 5px 5px;
    border-bottom: 1px solid #4475a9;
  }
  .user-profile img {
    width: 40px;
    height: 40px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
  }
  .user-profile span {
    display: block;
    color: #fff;
    font-size: 14px;
  }
  .balance {
    text-align: right;
    padding: 10px 8px;
    border-bottom: 1px solid #4475a9;
  }
  .balance span {
    float: left;
    font-size: 14px;
    color: #fff;
  }
  .balance a {
    text-align: right;
    color: #fff;
    text-decoration: none;
    background-color: #0092c1;
    padding: 3px 20px;
    border-radius: 15px;
    font-size: 14px;
  }
  .balance a i{
      font-size: 10px;
    margin-right: 2px;
}
  .edit-profile {
    text-align: center;
    border-bottom: 1px solid #4475a9;
    padding: 0;
  }
  .edit-profile a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0px;
  }
  .edit-profile a:hover{background-color: #be3122;}
  .setting-logout {
    display: block;
    padding: 0px 0px;
    text-decoration: none;
  }
  .setting-logout a {
    float: left;
    text-align: center;
    border-right: 1px solid #5d85a0;
    padding: 8px 0px;
    text-decoration: none;
    width: calc(50% - 1px);
  }
  .setting-logout a:hover{background-color: #be3122;}
  .setting-logout a img {
    max-width: 100%;
    margin: 0 auto;
  }
  .setting-logout a:last-child{
      border: 0;
      float: right;
      width: calc(50% - 0px);
    }
  .setting-logout a span {
    display: block;
    font-size: 14px;
    color: #fff;
  }
  /*tab start*/
  /*************end header side***********************/

  /************menu******************/
  #services{
    float: left;
    border-right: 1px solid rgba(255,255,255,0.3);
    border-left: 1px solid rgba(0,0,0,0.1);
}
  nav{    margin: 0;
    padding: 0;}
  .tabnew{float: left;
    list-style: none;
    border-left:1px solid rgba(255,255,255,0.3);
    border-right: 1px solid rgba(0,0,0,0.1);
  }
  /* .tabnew:first-child {
    border-left: none;
  }

  .tabnew:last-child {
    border-right: none;
  } */

  .tabnew a{
    color: #333333;
    text-decoration: none;
    display: block;
    padding: 18px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
  }
  .tabnew a:hover{
    color: #fe572b;
    border-bottom: 2px solid #333333;
  }

  .tabnew.tabnewClick a, .tabnew.tabnewClick a:hover{ color: #fe572b;
    border-bottom: 2px solid #fe572b;
    cursor: default;}

  .change-pass {
    float: left;
    border-right: 1px solid rgba(0,0,0,0.2);
  }


  .change-pass a {
    padding: 17px 17px 15px 17px;
    display: block;

  }
  /**********logo css*****************/

  header .logo{
    width: 200px;
    padding: 5px 8px;
    float: left;
    text-align: center;
  }
  header .logo img{
    max-width: 184px;
    max-height: 48px;
  }

  /***************************/

  /************menu******************/
  /***************balance*********************/
  .balance-view{float: left;
    padding: 14px 10px;     position: relative;}

  .balance-view .amount-bl{font-size: 16px;
    color: #fff;
    background-color: #0092C1;
    padding: 4px 10px 4px 19px;
    float: left;
    border-radius: 3px;}
  .balance-view .amount-bl i{font-size:12px;}
  .click-bln{opacity: 0;
    /*-webkit-transform:scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
  -moz-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
  -o-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}
  -ms-transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}*/
  transform: scale(1) scale3d(1, 1, 1) skew(0deg, 0deg) translate(95px, 0px);}

  /***************balance*********************/

  /*******************12 july new changes**********************/
  /***************header username*********************/
  .user-icon {
    width: 30px;
    height: 30px;
    float: left;
  }



  /***************header username*********************/
  .user-icon {
    float: left;
    width: 40px;
    height: 40px;
  }
  .user-icon img {
    border-radius: 50%;
    /* border: 1px solid #fff; */
  }
  .user-am {
    position: relative;
    float: left;
    min-width: 50px;
    margin-left: 10px;
    margin-top: 4px;
  }
  .user-am label {
    margin-bottom: 0;
  }
  .amount-bl {
    font-size: 12px;
    color: #f33a09;
    border-radius: 3px;
    margin-left: 8px;
    cursor: pointer;
    line-height: 17px;
    text-align: left;
  }
  .user-name-info {
    padding: 9px 5px 10px;
    font-size: 10px;
    position: relative;
    background-color: rgba(255, 22, 19, 0.06);
    text-align: center;
    float: left;
    cursor: pointer;
  }
  .amount-i {
    position: absolute;
    top: -1px;
    left: 0px;
    color: #f33a09;
    font-size: 11px;
    line-height: 19px;
  }

  .user-name-info span {
    font-size: 14px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    text-align: left;
    line-height: 17px;
  }
  .bl-info{/*display: none;*/ position: relative; font-weight: 500;}


  /*---draw-ui-stylesheet.css end---------*/
  /*---reportsstyle.css start-------*/
  .page-container *{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-container {
    position: relative;
    margin-top: 60px;
    padding: 0;
  }
  .left-page-side {
      width: 200px;
      float: left;
      position: relative;
      margin-right: -100%;
    }
  ul.left-nav-side {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  ul.left-nav-side > li{
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      margin-bottom: 1px;
      position: relative;
    }
  ul.left-nav-side > li a.active, ul.left-nav-side > li > a:hover{
      background-color: #ffcc01;
      color: #333;
      -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
  ul.left-nav-side > li > a{
      display: block;
      margin: 0;
      padding: 10px 15px 10px 35px;
      text-decoration: none;
      border-top-color: transparent;
      color: #fff;
      font-size: 14px;
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  ul.left-nav-side > li:last-child > a {
      border-bottom: 1px solid rgba(255, 255, 255, .2);
    }
  ul.left-nav-side > li > ul.sub-menu{
      margin: 0;
      padding: 0;
      list-style: none;
      background-color: #554a73;
      display: none;
    }
  ul.left-nav-side > li > ul.sub-menu > li{
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
    }
  ul.left-nav-side > li > ul.sub-menu > li > a{
      display: block;
      margin: 0;
      padding: 9px 15px 9px 45px;
      text-decoration: none;
      background: 0 0;
      color: #b4bcc8;
      font-size: 14px;
      border-left: 5px solid rgba(255, 255, 255, .2);
      -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
  ul.left-nav-side > li > ul.sub-menu > li > a:hover{
    background: #3d3358;
    border-left:5px solid #fffe0c;
  }
  ul.left-nav-side > li.active > ul.sub-menu{display:block;}
  ul.left-nav-side > li > a.active ~ ul{display:block;}


  .right-page-side {
    float: left;
    width: 100%;
  }
  .page-content-area {
    background-color: #fafafa;
    margin-left: 200px;
    margin-top: 0;
    min-height: 600px;
    padding: 0;
  }
  .clear{clear:both;}
  form.sidebar-search {
    padding: 0;
    margin: 22px 18px;
  }
  .input-group-search {
    border-bottom: 1px solid #6b589c;
    display: table;
    border-collapse: separate;
  }
  input.form-control-search {
    background-color: transparent;
    color: #cacaca;
    border: 0;
    outline: 0;
    letter-spacing: 1px;
    padding: 5px 0px;
    font-size: 14px;
    display: table-cell;
    float: left;
    width: 100%;
  }
  span.input-group-btn {
    display: table-cell;
    width: 1%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
  }
  a.btn-submit {
    padding: 2px 0 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 3px;
  }
  a.btn-submit i {
    color: #8878b3;
  }
  i.icon-arrow, i.icon-home {
    padding: 0;
  }
  i.icon-arrow:after,
  i.icon-home:after,
  i.icon-report:after,
  i.icon-ola:after,
  i.setting-icon:after{
      font-family: FontAwesome;
      width: 20px;
    text-align: center;
    display: inline;
    font-size: 16px;
    height: auto;
    text-shadow: none;
    position: absolute;
    font-style: normal;
}

  i.icon-arrow:after {
    content: "\f104";
    top: 8px;
    right: 14px;
  }
  i.icon-home:after{
    top: 11px;
    left: 10px;
    content: '\f0d6';
}
  i.icon-report:after{
      top: 11px;
    left: 10px;
    content: '\f201';
}
  i.icon-ola:after{
      top: 11px;
    left: 10px;content: '\f1cb';
  }
  i.setting-icon:after{
    content: '\f013';
    top: 10px;
    left: 13px;
    right: 0;
    bottom: 0;
    font-size: 22px;
    color: #ffffff;
  }
  a.active > i.icon-arrow:after{content:'\f107';}

  .footer {
    padding: 8px 20px 5px;
    font-size: 13px;
    height: 33px;
    background-color: #4d3f75;
  }
  /***********right side page**************/
  .page-bar {
    margin: 0;
    border-bottom: 1px solid #e7ecf1;
    padding-left: 25px;
    background-color: #f7f7f7;
  }

  ul.page-breadcrumb {
      list-style-type: none;
    margin: 0;
    display: inline-block;
    padding: 10px 0;
}
  ul.page-breadcrumb li{
      display: inline-block;
    }
  ul.page-breadcrumb li a{
      color: #888;
    text-decoration: none;
    font-size: 14px;
    text-shadow: none;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;    letter-spacing: 1px;
}
  ul.page-breadcrumb li a:after{
      content: "\f105";
    top: 0px;
    right: -10px;
    font-family: FontAwesome;
    width: 20px;
    text-align: center;
    display: inline;
    font-size: 14px;
    height: auto;
    text-shadow: none;
    position: absolute;
    font-style: normal;
    color: #d6d6d6;
}
  ul.page-breadcrumb li span{
      color:#333333;
    text-decoration: none;
    font-size: 14px;
    text-shadow: none;
    letter-spacing: 1px;
}
  .page-footer-inner {
    color: #c7c7c7;
    text-align:center;
  }
  .page-data {
    margin: 0;
    padding: 20px 25px 25px 25px;
    background-color: #fff;
  }
  h4.page-title {
    margin: 0;
    padding: 0;
    font-weight: 300;
    letter-spacing: .5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    font-size: 26px;
    color: #fe572b;
  }
  .group-list {
      width: 50%;
      float: left;
      margin-bottom: 35px;
      position: relative;
    }
  select.drop-dowon {
      display: inline-block;
      width: 82%;
      padding: 8px 10px;
      border: 1px solid #b3b3b3;
      border-radius: 2px;
      height: 39px;
      font-size: 14px;
    }
  input.text-box {
      display: inline-block;
      width: 82%;
      padding: 8px 10px;
      border: 1px solid #b3b3b3;
      border-radius: 2px;
      height: 39px;
      font-size: 14px;
    }
  input.date-box {
      display: inline-block;
    width: 82%;
    padding: 8px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    height: 39px;
    font-size: 14px;
}
  .date-input {
    display: inline-block;
    width: 68%;
    position: relative;
  }
  .date-input>label{    margin-right: 15px;
    font-size: 14px;line-height: 2;}
  .date-input img{position: absolute;
    right: 68px;}
  .group-list>label{
    font-size: 14px;
    width: 30%;
    display: inline-block;
  }
  .submit-btn{
    width: 100%;
    float: left;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    margin-top: 15px;
  }
  .submit-btn input,
  .submit-btn button{
    display: inline-block;
    padding: 13px 20px;
    /* width: 170px; */
    background-color: #fe572b;
    border: 0;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;-webkit-transition: -webkit-transform .25s ease-out;
    -o-transition: -o-transform .25s ease-out;
    transition: transform .25s ease-out;
  }
  button.btn-cancel:hover{background-color: #b56e0b;}

  .submit-btn input:hover,
  .submit-btn button:hover,
  button.btn-ok:hover{
      background-color: #f33a09;
    }
  .error-msg{
    position: absolute;
    left: 31%;
  }
  .error-msg span{font-size: 13px;
    color: red;
    }
  .error-msg p{font-size: 13px;
    color: #006100;
    margin: 0;
    padding: 0;}
  .pop-up-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.53);
  }
  .box-model {
    width: 600px;
    min-height: 200px;
    margin: 0px auto;
    margin-top:100px;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  .box-modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  button.bootbox-close-button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .4;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
  }
  h4.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 16px;
  }
  .model-page-box {
    padding: 10px 0px 15px 0px;
  }
  .detail-con {
    margin: 10px 15px;
    padding: 0px;
  }
  .detail-con span:first-child{
    display: inline-block;
    width: 45%;
    text-align: left;
    font-size: 14px;
  }
  .detail-con span:last-child{
    display: inline-block;
    width: 50%;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }
  .box-modal-footer {
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid #e5e5e5;
  }
  button.btn-cancel {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #de942c;
    border: 0;
    border-radius: 3px;
    width: 90px;
  }
  /* button.btn-ok {
    display: inline;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #362959;
    border: 0;
    border-radius: 3px;
    min-width: 90px;
    outline: 0;
    cursor: pointer;
  } */

  .conf-box {
    margin: 0;
    padding: 0;
  }
  .box-crm {
      text-align: center;
      width: 550px;
      margin: 0 auto;
      border: 1px solid #efefef;
      border-radius: 3px;
      box-shadow: 0px 0px 5px #b9b9b9;
      padding: 20px 0px;
    }
  .box-crm h2{
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #70c128;
    line-height: 1.5;
  }
  .box-crm.error h2{
    color: #d82f2f;
  }
  .succes-icon {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7ecf1;
  }
  button.setting-btn {
    position: relative;
    width: 44px;
    height: 40px;
    cursor: pointer;
    border: 0;
    background-color: #333333;
    margin: 0;
    padding: 10px 0px;
    display: inline-block;
  }
  .float-right {
    float: right;
  }

  table.table-data {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
    border: 1px solid #eceeef;
    font-size: 14px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.25);
  }
  table.table-data th{
    padding: .5rem;
    vertical-align: top;
    border: 1px solid #eceeef;
    text-align: left;
  }
  table.table-data td{
    border: 1px solid #eceeef;
    padding: .35rem .5rem;
    vertical-align: middle;
    text-align: left;
  }
  table.table-data th span{display: block;
    text-align: center;
    color: red;
    font-size: 14px;
  }
  table.table-data td.orderBookCountWrap input{
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #b3b3b3;
    padding: 2px 5px;
  }
  .search-view-data {
    margin-top: 30px;
  }
  h3.Search-heading {
    margin: 0;
    padding: 10px 10px;
    background-color: #eee8fd;
    font-size: 16px;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: left;
  }
  .select-text {
    padding: 10px 0px;
    text-align: left;
    background-color: whitesmoke;
    margin-bottom: 15px;
  }
  .select-text select{
    display: inline-block;
    min-width: 296px;
    padding: 8px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    height: 39px;
    font-size: 14px;
  }
  .select-text label{
    font-size: 14px;
    display: inline-block;
    margin-right: 70px;
    margin-left: 10px;
  }
  /*---reportsstyle.css end-------*/
  /*---v-ola-scratch.css start-------*/
  #headerDiv{
    z-index: 99999;
    background-color: transparent !important;
  }

  .clearFix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearFix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearFix { height: 1%; }
  .clearFix { display: block; }
  /* close commented backslash hack */

  /* ul.left-nav-side.lp-SubMenu > li > a{
    padding: 15px 10px 15px 40px;
    font-size: 18px;
  } */

  /* ul.left-nav-side.lp-SubMenu > li a.active,
  ul.left-nav-side.lp-SubMenu > li > a:hover{
    background-color: #ffcc01;
  } */

  .icon-leftNav{
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 5px;
    background: url(/assets/images/navSprite.png) no-repeat left top;
  }

.icon-leftNav.icon0{ background-position: 0px -40px; }
.icon-leftNav.icon1{ background-position: 0px -100px; }
.icon-leftNav.icon2{ background-position: 0px 0px; }
.icon-leftNav.icon3{ background-position: 0px -60px; }
.icon-leftNav.icon4{ background-position: 0px -20px; }

.active .icon-leftNav.icon0{ background-position: -20px -40px; }
.active .icon-leftNav.icon1{ background-position: -20px -100px; }
.active .icon-leftNav.icon2{ background-position: -20px 0px; }
.active .icon-leftNav.icon3{ background-position: -20px -60px; }
.active .icon-leftNav.icon4{ background-position: -20px -20px; }



  .ola-content-area .group-list{
    float:none;
    width:100%;
    margin-bottom:30px;
  }

  .ola-content-area .form-row {
    width: 100%;
    float: none;
  }

  .ola-content-area .detail-page{
    width: 480px;
    margin: auto;
  }

  .ola-content-area .group-list label {
    display: block;
    margin-bottom:5px;
    width:100%;
  }

  .ola-content-area  .date-input{
    display: block;
  }

  .ola-content-area  .error-msg{
    left: 0;
  }
  .ola-content-area input.date-box,
  .ola-content-area .date-input{
    width: 100%;
  }

  .ola-content-area .colLeft,
  .ola-content-area .colLeft{
    float:left;
    width:49%;
    position:relative;
  }

  .ola-content-area .colRight{
    float:right;
    width:49%;
    position:relative;
  }

  .ola-content-area .group-list  label {
    font-size: 13px;
  }

  .scratch-area .submit-btn input{
    width:auto;
  }

  .scratch-area.full .detail-page{
    width:100%;
  }

  .quickOrderHead{
    color:#000;
    font-weight:600;
    font-size:14px !important;
    padding-bottom:10px;
    border-bottom:1px solid #f1f1f1;
    margin-bottom:10px;
  }


  .quickOrderGrid li  {
    margin-bottom:10px;
  }

  .quickOrderGrid li.quickOrderbody  {
    margin-bottom:10px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom:10px;
  }

  .quickOrderGrid li.quickOrderbody:last-child  {
    margin-bottom:0px;
    border-bottom:none;
    padding-bottom:0px;
  }

  .quickOrderGrid li > div {
    width: 25%;
    float: left;
  }

  .quickOrderGrid li > div.srNo{
    width:100px;
  }

  .quickOrderGrid li > div.remarksMsg{
    text-align: left;
    word-wrap: break-word;
    width: 40%;
    padding:0px 20px;
    font-size:14px;
  }

  .quickOrderGrid li.quickOrderbody > div.remarksMsg span{
    display:block;
  }

  .quickOrderGrid ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }



  .select-product ul {
    padding:0px;
    margin:0px;
    list-style-type:none;
  }

  .select-product li {
    margin-right:1px;
  }
  .select-product li:last-child {
    margin-right:0px;
  }

  .select-product.col-3 li {
    width:calc(33.33% - 2px);
    float:left;
    margin-right:1px;
  }

  .select-product li:first-child > label{
    border-radius:4px 0px 0px 4px;
  }
  .select-product li:last-child > label{
    border-radius:0px 4px 4px 0px;
  }

  .select-product li > input ,
  .sbookRcvGrid input[type="checkbox"]{
    display:none;
    position: relative;
    top: -7px;
  }

  .select-product li > label ,
  .sbookRcvGrid input[type="checkbox"] + label {
    padding: 13px 13px 13px 25px;
    cursor: pointer;
    background: #ffffff;
    font-size: 12px;
    width: 100%;
    position: relative;
    border: 1px solid #b3b3b3;
    display: block;
  }

  .sbookRcvGrid input[type="checkbox"] + label{
    font-size: 14px;
    padding-left: 25px;
    border: none;
    padding: 0px 0px 0px 25px;
  }

  .select-product li  input + label:before,
  .sbookRcvGrid input[type="checkbox"] + label:before{
    content: "\f1db";
    display: block;
    color: inherit;
    font-size: 10px;
    font-family: FontAwesome;
    position: absolute;
    left: 7px;
    top:16px;
  }
  .sbookRcvGrid input[type="checkbox"] + label:before{
    content: "\f096";
    font-size: 15px;
    top: 0px;
  }

  .select-product li  input:checked + label:before{
    content: "\f192";

  }

  .sbookRcvGrid input[type="checkbox"]:checked + label:before{
    content: "\f14a";
  }

  .select-product li  input:checked + label{
    background: #e8e8e8;
    color:#303030;
  }

  /*.sbookRcvWrap .group-list .colLeft{
    float:left;
    position:relative;
    width:49%;
  }*/

  /*.sbookRcvWrap .group-list .colRight{
    float:right;
    position:relative;
    width:49%;
  }*/
  .sbookRcvWrap .group-list .colRight.submit-btn{
    text-align:left;
    border-top: none;
    padding-top: 0px;
    margin-top: 0px;
  }

  .sbookRcvWrap .group-list .colRight input{
    padding: 10px 20px;
  }

  /*.sbookRcvWrap .group-list.clearFix{
    padding-bottom: 20px;
  }*/

  .sbookRcvWrap .group-list.clearFix .error-msg{
    bottom: 0px;
  }

  /*
  .sbookRcvWrap .group-list{
    width: 480px;
  }*/

  .sbookRcvGrid-top {
    margin-bottom: 10px;
    padding: 10px 10px 10px 2px;
    background-color: #d8d8d8;
    border-radius: 4px 4px 0 0;
    line-height: 100%;
    font-size: 14px;
  }

  .sbookRcvGrid-top  label{
    background:none !important;
    margin-bottom: 0;
  }

  .sbookGameCon{
    margin-bottom:10px;
    padding-bottom:10px;
  }
.sbookGameCon + .sbookGameCon{
  border-top: 1px solid #cccccc;
}

  .sbookGameCon.lastRow{
    margin-bottom:0px;
    border-bottom:none;
    padding-bottom:0px;
  }

  .f-GameChboxBlock.head{
    margin-bottom:5px;
  }

  .f-GameChboxBlock.head label{
    font-weight: 600;
  }





  .sbookRcvGrid-top > div{
    float:left;
    width:33.33%;
  }

  .gameCount > label,.BookCount > label{
    font-weight:600;
    margin-right: 5px;
  }

  .gameCount{
    text-align:center;
  }
  .BookCount{
    text-align:right;
  }

  .f-GameChboxBlock.body ul{
    list-style-type:none;
    padding:0px;
    margin:0px;
  }

  .f-GameChboxBlock.body li{
    width:20%;
    float:left;
  }

  /*.sbookRcvWrap  .form-row{
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px;
  }
  */
  .sbookGameCon.col-2 .f-GameChboxBlock.head{
    width:22%;
    float:left;
  }

  .sbookGameCon.col-2 .f-GameChboxBlock.body {
    width:78%;
    float:right;
  }


  .titleRow {
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  .titleRow h4.page-title{
    border-bottom:none;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  .filterWrap {
    padding-left:50px;
  }

  .filterWrap li{
    display:inline-block;
    padding:0px 10px;
  }
  .filterWrap .group-list {
    margin-bottom: 0px;
  }

  .filterWrap li  label{
    display:inline-block !important;
    width:auto !important;
  }

  .filterWrap .balWrap{
    color: green;
  }

  .filterWrap .balAmt{
    font-weight: 700;
    font-size: 14px;
  }


  /*new css*/
  .rcvGameTitle{
    display: inline-block;
  }

  .rcvGameDtls{
    display: inline-block;
    margin-left:15px;
  }

  .rcvGameDtls span{
    font-size: 12px;
  }

  .rcvGameDtls span + span{
    margin-left:10px;
  }

  .f-GameChboxBlock.head  .rcvGameDtls  label{
    color: #514939 !important;
    vertical-align: bottom;
  }



  .rcvGameTitle{
    display: inline-block;
  }

  .rcvGameDtls{
    display: inline-block;
    margin-left:15px;
  }

  .rcvGameDtls span{
    font-size: 12px;
  }

  .rcvGameDtls span + span{
    margin-left:10px;
  }

  .f-GameChboxBlock.head  .rcvGameDtls  label{
    color: #514939 !important;
    vertical-align: bottom;
  }

  .box-crm.oPackPrev {
      max-width: 380px;
  }

  .oPackPrev-title{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 25px;
  }

  .oPackPrev .detail-con span:first-child{
    width: auto;
    float: left;
  }
  .oPackPrev .detail-con span:last-child{
    width: auto;
    float: right;
  }

  .oPackPrev-foot .box-row{
      background-color: #e8e8e8;
      padding: 10px 0px;
      line-height: 85%;
      margin-bottom: 15px;

  }


  table.table-data thead th{
    background-color: #6d6d6d;
    color: #fff;
    text-align: center;
}

table.table-data tfoot th{
	background-color: #d8d7d4;
    color: #000;
}

.table-data thead .alignCenter,
.table-data tbody .alignCenter,
.table-data tfoot .alignCenter{
	text-align:center;
}



.table-data tbody .alignRight,
.table-data tfoot .alignRight{
	text-align:right;
}

  /*---v-ola-scratch.css end-------*/






  /*
  .page-container *{
    webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-container {
    position: relative;
    margin-top: 60px;
    padding: 0;
  }
  .left-page-side {width: 235px;float: left;position: relative;background-color: #55408b;margin-right: -100%;}
  ul.left-nav-side {margin: 0;padding: 0;list-style-type: none;}
  ul.left-nav-side > li{margin: 0;padding: 0;list-style: none;display: block;margin-bottom: 1px;position: relative;}
  ul.left-nav-side > li a.active, ul.left-nav-side > li > a:hover{background-color: #ffcc01; -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;}
  ul.left-nav-side > li > a{display: block;margin: 0;padding: 9px 15px 9px 40px;text-decoration: none;border-top-color: transparent;color: #fff;font-family: 'Roboto', sans-serif;font-weight: 300;font-size: 14px;border-bottom: 1px solid #5f499c;}
  ul.left-nav-side > li > ul.sub-menu{margin: 0;padding: 0;list-style: none;    background-color: #554a73;display: none;}
  ul.left-nav-side > li > ul.sub-menu > li{margin: 0;padding: 0;list-style: none;display: block;}
  ul.left-nav-side > li > ul.sub-menu > li > a{display: block;margin: 0;padding: 9px 15px 9px 45px;text-decoration: none;background: 0 0;color: #b4bcc8;font-family: 'Roboto', sans-serif;font-weight: 300;font-size: 14px;border-left: 5px solid #554a73; -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;}
  ul.left-nav-side > li > ul.sub-menu > li > a:hover{
    background: #3d3358;
    border-left:5px solid #fffe0c;
  }
  ul.left-nav-side > li.active > ul.sub-menu{display:block;}
  ul.left-nav-side > li > a.active ~ ul{display:block;}


  .right-page-side {
    float: left;
    width: 100%;
  }
  .page-content-area {
    background-color: #fafafa;
    margin-left: 235px;
    margin-top: 0;
    min-height: 600px;
    padding: 0;
  }
  .clear{clear:both;}
  form.sidebar-search {
    padding: 0;
    margin: 22px 18px;
  }
  .input-group-search {
    border-bottom: 1px solid #6b589c;
    display: table;
    border-collapse: separate;
  }
  input.form-control-search {
    background-color: transparent;
    color: #cacaca;
    border: 0;
    outline: 0;
    letter-spacing: 1px;
    padding: 5px 0px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: table-cell;
    float: left;
    width: 100%;
  }
  span.input-group-btn {
    display: table-cell;
    width: 1%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
  }
  a.btn-submit {
    padding: 2px 0 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 100% 3px;
  }
  a.btn-submit i {
    color: #8878b3;
  }
  i.icon-arrow, i.icon-home {
    padding: 0;
  }
  i.icon-arrow:after, i.icon-home:after, i.icon-report:after, i.icon-ola:after, i.setting-icon:after{font-family: FontAwesome; width: 20px;
    text-align: center;
    display: inline;
    font-size: 16px;height: auto;font-weight: 300;
    text-shadow: none;
    position: absolute;    font-style: normal;}

  i.icon-arrow:after {
    content: "\f104";
    top: 8px;
    right: 14px;
  }
  i.icon-home:after{
    top: 11px;
    left: 10px;
    content: '\f0d6';}
  i.icon-report:after{top: 11px;
    left: 10px;content: '\f201';}
  i.icon-ola:after{top: 11px;
    left: 10px;content: '\f1cb';
  }
  i.setting-icon:after{
    content: '\f013';
    top: 12px;
    left: 13px;
    right: 0;
    bottom: 0;
    font-size: 22px;
    color: #ffffff;
  }
  a.active > i.icon-arrow:after{content:'\f107';}

  .footer {
    padding: 8px 20px 5px;
    font-size: 13px;
    height: 33px;
    background-color: #4d3f75;
  }

  .page-bar {
    margin: 0;
    border-bottom: 1px solid #e7ecf1;
    padding-left: 25px;
  }

  ul.page-breadcrumb {list-style-type: none;margin: 0;display: inline-block;padding: 11px 0;}
  ul.page-breadcrumb li{display: inline-block;}
  ul.page-breadcrumb li a{color: #888;text-decoration: none;font-size: 14px;text-shadow: none;font-family: 'Roboto', sans-serif;font-weight: 300;padding-right: 10px;margin-right: 10px;position: relative;    letter-spacing: 1px;}
  ul.page-breadcrumb li a:after{content: "\f105";
    top: 3px;
    right: -10px;
    font-family: FontAwesome;
    width: 20px;
    text-align: center;
    display: inline;
    font-size: 14px;
    height: auto;
    font-weight: 300;
    text-shadow: none;
    position: absolute;
    font-style: normal;
    color: #d6d6d6;}
  ul.page-breadcrumb li span{color:#55408b;text-decoration: none;font-size: 14px;text-shadow: none;font-family: 'Roboto', sans-serif;font-weight: 300;    letter-spacing: 1px;}
  .page-footer-inner {
    color: #c7c7c7;
  }
  .page-data {
    margin: 0;
    padding: 20px 25px 25px 25px;
    background-color: #fff;
  }
  h4.page-title {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 15px;
    font-size: 16px;
  }
  .data-content {
  }
  .detail-page {
  }
  .form-row {
  }
  .group-list {width: 50%;float: left;margin-bottom: 35px;position: relative;}
  select.drop-dowon {display: inline-block;width: 82%;padding: 8px 10px;border: 1px solid #b3b3b3;border-radius: 2px;height: 39px;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 14px;}
  input.text-box {display: inline-block;width: 82%;padding: 8px 10px;border: 1px solid #b3b3b3;border-radius: 2px;height: 39px;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 14px;}
  input.date-box {display: inline-block;width: 82%;padding: 8px 10px;border: 1px solid #b3b3b3;border-radius: 2px;height: 39px;font-family: 'Roboto', sans-serif;font-weight: 400;font-size: 14px;}
  .date-input {
    display: inline-block;
    width: 68%;
    position: relative;
  }
  .date-input>label{    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;line-height: 2;}
  .date-input img{position: absolute;
    right: 68px;}
  .group-list>label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 30%;
    display: inline-block;
  }
  .submit-btn{
    width: 100%;
    float: left;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    margin-top: 15px;
  }
  .submit-btn input{
    display: inline-block;
    padding: 13px 20px;
    width: 170px;
    background-color: #55408b;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;-webkit-transition: -webkit-transform .25s ease-out;
    -o-transition: -o-transform .25s ease-out;
    transition: transform .25s ease-out;
  }
  button.btn-cancel:hover{background-color: #b56e0b;}
  .submit-btn input:hover, button.btn-ok:hover{    background-color: #f33a09;}
  .error-msg{
    position: absolute;
    left: 31%;
  }
  .error-msg span{font-size: 13px;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;}
  .error-msg p{font-size: 13px;
    color: #006100;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;}
  .pop-up-box {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.53);
  }
  .box-model {
    width: 600px;
    min-height: 200px;
    margin: 0px auto;
    margin-top:100px;
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
  }
  .box-modal-header {
    min-height: 16.43px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
  }
  button.bootbox-close-button.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .4;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
  }
  h4.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
  }
  .model-page-box {
    padding: 10px 0px 15px 0px;
  }
  .detail-con {
    margin: 10px 15px;
    padding: 0px;
  }
  .detail-con span:first-child{
    display: inline-block;
    width: 45%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .detail-con span:last-child{
    display: inline-block;
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }
  .box-modal-footer {
    text-align: center;
    padding: 15px 0px;
    border-top: 1px solid #e5e5e5;
  }
  button.btn-cancel {
    display: inline-block;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #de942c;
    border: 0;
    border-radius: 3px;
    width: 90px;
  }
  button.btn-ok {
    display: inline;
    padding: 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #362959;
    border: 0;
    border-radius: 3px;
    min-width: 90px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: 0;
    cursor: pointer;
  }

  .conf-box {
    margin: 0;
    padding: 0;
  }
  .box-crm {text-align: center;width: 550px;margin: 0 auto;border: 1px solid #efefef;border-radius: 3px;box-shadow: 0px 0px 5px #b9b9b9;padding: 20px 0px;}
  .box-crm h2{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: green;
    line-height: 1;
  }
  .box-crm h3{
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #da251c;
    line-height: 1;
  }
  .succes-icon {
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7ecf1;
  }
  .succes-icon p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  button.setting-btn {
    position: relative;
    width: 44px;
    height: 45px;
    cursor: pointer;
    border: 0;
    background-color: rgb(85, 64, 139);
    margin: 0;
    padding: 9px 0px;
    display: inline-block;
  }
  .float-right {
    float: right;
  }

  table.table-data {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
    background-color: transparent;
    border: 1px solid #eceeef;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  table.table-data th{
    padding: .75rem;
    vertical-align: top;
    border: 1px solid #eceeef;
    text-align: left;
  }
  table.table-data td{
    border: 1px solid #eceeef;
    padding: .75rem;
    vertical-align: top;
    text-align: left;
  }
  table.table-data th span{display: block;
    text-align: center;
    color: red;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;}
  .search-view-data {
    margin-top: 30px;
  }
  h3.Search-heading {
    margin: 0;
    padding: 10px 10px;
    background-color: #eee8fd;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border-radius: 3px;
    margin-bottom: 15px;
    text-align: left;
  }
  .select-text {
    padding: 10px 0px;
    text-align: left;
    background-color: whitesmoke;
    margin-bottom: 15px;
  }
  .select-text select{
    display: inline-block;
    min-width: 296px;
    padding: 8px 10px;
    border: 1px solid #b3b3b3;
    border-radius: 2px;
    height: 39px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  }
  .select-text label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-right: 70px;
    margin-left: 10px;
  }
  */
