/*multiline start*/
.purchaseDtlsMltWrap *{
  box-sizing:border-box;
}


.purchaseDtlsMltWrap{
   font-weight: 500;
   line-height: 100%;
}

.purchaseDtlsMltWrap ul{
  list-style-type:none;
  margin:0;
  padding:0;
}

.multiLine-row.filled  .mltLineWrap,.multiLine-row.unFilled  .mltLineWrap {
	float:left;
	width:85%;
}
.multiLine-row.filled  .mlt-selectedNmb{
	background-color:transparent;
	color:#d3cce5;
	padding:0px;
}
.multiLine-row.unFilled  {
	background-color:#bcb6cc;
}
.multiLine-row.unFilled .mlt-selectedNmb {
	display:none;
}
.multiLine-row.open .mlt-selectedNmb{
	background-color:#fff;
	color:#a52c20;
	border-radius:2px;
	padding:5px;
	display:block;
}

.multiLine-row.filled .mltBetAmount ,.multiLine-row.unFilled .mltBetAmount {
    width: 15%;
    text-align: center;
    position: absolute;
    right: 0;
    height: 100%;
    border-left: 1px solid #e8e8e8;
    top: 0px;
}

.multiLine-row.filled .mltLine-sn,.multiLine-row.filled  .mlt-selectedNmb,
.multiLine-row.unFilled .mltLine-sn,.multiLine-row.unFilled .mlt-selectedNmb{
	float:none;
	width:100%;
}

.multiLine-head{
	background-color:#362464;
	font-size:11px;
	height:20px;
	line-height:21px;
	color:#fff;
	text-align:center;
	position:relative;
}

.multiLine-head:before,.multiLine-head:after{
	content:"";
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:1px;
	background-color:rgba(255,255,255,0.15);
}

.multiLine-head:after{
	/*background-color:rgba(0,0,0,0.5);*/
	top:20px;
}

.multiLine-body{
    padding: 4px 3px 3px 3px;
    background-color: #e8e8e8;
}
.multiLine-row.filled,.multiLine-row.unFilled{
		padding:5px;
		position:relative;
}

.multiLine-row{
	margin-bottom:2px;
		cursor:pointer;
}

.multiLine-row:last-child{
	margin-bottom:0px;
}
.multiLine-row.filled{
	background-color:#362464;
}
.multiLine-row.open{
	background-color:#e74c3c;
	border-bottom: 1px solid #c42e1f;
    border-right: 1px solid #c42e1f;
	padding: 3px 2px 2px;
	position:relative;
		cursor:default;
}

.multiLine-row.open:after {
    content: "Bet Amount";
    position: absolute;
    color: #a52c20;
    font-size: 10px;
    writing-mode: tb-rl;
    left: 2px;
	bottom: 8px;
	line-height: 100%;
}

.multiLine-row.filled .mltLine-sn{
	color: #786a9c;
}

.multiLine-row.unFilled .mltLine-sn{
	color: #635098;
}

.multiLine-row.open .mltLine-sn {
	color: #a52c20;
	top: 7px;
}

.multiLine-row.open .mltLineWrap {
	float:none;
	width:100%;
	border-right:none;
}

.mltLine-sn {
    font-size: 9px;
    font-style: italic;
	float:left;
	width:13%;
	line-height: 9px;
}

.mlt-selectedNmb{
	float:right;
	width:87%;
	background-color:#fff;
	font-size:11px;
	padding:5px;
	color:#a52c20;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;	
}
.multiLine-row.open .mlt-selectedNmb{height:23px;}
.multiLine-row.open .mltLine-sn{
	float:left;
	width:12%;
	position: relative;
}


.multiLine-row.open .mlt-selectedNmb{
	float:left;
	width:87%;
	margin-left:1px;
}
.clearfix:before,.clearfix:after,.multiLine-row:before,.multiLine-row:after {
	content:"";
	display:block;
	clear:both;
}

.multiLine-row.unFilled .mltMsg {
	display:block;
	color:#301f5f;
	font-size:11px;
}
.multiLine-row .mltMsg, .multiLine-row.open .mltMsg{
	display:none;
}
.multiLine-row.unFilled .mltBetAmount .betVal {
	    color: #301f5f;
}

.multiLine-row.filled .betAmtBlockWrap,.multiLine-row.unFilled .betAmtBlockWrap
{
	display:none;
}

.multiLine-row.open .betAmtBlockWrap{
	display:block;
	position:relative;
	margin-bottom:0px;
	margin-top:0px;
}
.multiLine-row.open > .betAmtBlockWrap {
	display: none;
}
.multiLine-row.open  .mltBetAmount {
	display:none;
}


.betAmtBlockWrap{
	padding-left:10px;
}

.betAmtBlockWrap li{
	float:left;
	width:33.33%;
	padding:0px 1px;
	margin-top:2px;
}
li.lastCtrl{
padding-right:0px;	
}

.betAmtBlockWrap button{
	-webkit-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	background-color:#ececec;
}

.betAmtBlockWrap button, .betAmtBlockWrap input{
	width:100%;
	border:none;
	height:30px;
	border: 1px solid #bf3729;
	border-radius:3px;
	font-size:16px;
	color:#2c2c2c;
	cursor:pointer;
}
.betAmtBlockWrap button:hover{
	background-color:#ffdb4b;
}
.betAmtBlockWrap button.amtSelect,.betAmtBlockWrap button:focus{
	border: 2px dotted red;
	background-color:#ffdb4b;
    box-shadow: inset 0px 0px 6px #610404;
	outline:none;
}

.betAmtBlockWrap .fa-usd{
	font-size:10px;
	margin-right: 4px;
}

.betAmtBlockWrap input[type='text']{
	display:none;
}


.mltBetAmount .currency{
	color:#786a9c;
	font-size:9px;
	font-style:italic;
	margin-top:5px;
	line-height: 9px;
}
.mltBetAmount .betVal{
	color:#ffdb4b;
	font-size:13px;
}

/*multiline end*/