body{
background-image: url(/assets/images/draw/zim-body-bg.jpg);
background-repeat: repeat;
background-size: inherit;
min-width: 1240px;
}
.left-draw-ui h5, .bet-name, .prize h5, .purchase-detail h5 {
    background-color: #362464;
}
.ui-left-menu button {
    background-color: #e8e8e8;
}
.ui-left-menu {
    background-color: #d0d0d0;
	border-radius: 0 0 3px 3px;
    overflow: hidden;
}
span.next-dr-name, span.dr-time-nxt, span.next-dr-tm {
    color: #2c2c2c;
}
.ui-left-menu button.select-game {
    background-color: #ffe463;
}
.draw, .bettype {
    background-color: #e8e8e8;
}
span.number-of {
    color: #362464;
}

.no-of-draw input {
    border: 1px solid #584096;
}
.advance-draw a {
    background-color: #594298;
    border: 1px solid #362464;
}
span.or:before {
    border-right: 1px solid #594298;
}
span.or {
    background-color: #594298;
}
.results {
    background-color: #bcb6cc;
}
.bet-tab button {
    border: 1px solid #402f6d;
    background-color: #574095;
}
.bet-tab button.select-bet, .bet-tab button:focus {
    border: 1px solid #271554;
    background-color: #F12624;
    padding: 9px 0px;
}
.bet-tab button:hover {
    border: 2px dotted white;
    background-color: #F12624;
    padding: 8px 0px;
}
.winning-button button {
    background-color: #ffdb4b;
    color: #2c2c2c;
	/*padding-left:5px;*/
}

.setting-button button {
    background-color: #e8e8e8;
    color: #574095;
	/*padding-left:5px;	*/
}
table.table-prize-new thead {
    background-color: #e0e0e0;
}
.select-amt button {
    background-color: #594298;
}
.select-amt button:hover {
    background-color: #362464;
    box-shadow: inset 0px 0px 6px #1e0f46;
}
.buy-now button:disabled span.buy-span {
    color: #ff9999;
    border-left: 1px solid #fb8a8c;
}
.buy-now button:disabled span.rupees-icon {
    color: #ff9999;
}
.buy-now button:disabled {
    background-color: #fb5555;
    border: 2px dotted #ff6262;
	color:#fff;
}
.buy-now button:hover {
    border:2px dotted #fa0200;
    background: #f32927;
    background: -moz-linear-gradient(top, #f73533 0%,#f12523 50%,#c71715 100%);
    background: -webkit-linear-gradient(top, #f73533 0%,#f12523 50%,#c71715 100%);
    background: linear-gradient(to bottom, #f73533 0%,#f12523 50%,#c71715 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73533', endColorstr='#c71715',GradientType=0 );
}
/*.buy-now button:hover span.rupees-icon {
	color:#714909;
}*/

/*.buy-now button:hover  .buy-now button:disabled span.buy-span {
	color:#714909;
}*/

/*.buy-now button:hover span.buy-span {
	color:#714909;
	border-left: 1px solid #d38f22;
}*/
.quick-p-picked {
    background-color: #584096;
    border: 2px solid #e9e9e9;
}
.lnum-game, .numbers-area {
    background-color: #ffffff;
}
ul.lnum-fortytwo li, .number-select ul li, .number-select-12 ul li, .select-no-2 ul li {
    background-color: #e8e8e8;
    color: #362464;
}
ul.lnum-fortytwo li:hover, .number-select ul li:hover, .number-select-12 ul li:hover, .select-no-2 ul li:hover {
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
    background-color: #d4d4d4;
}
ul.lnum-fortytwo li.selectnumber, .number-select ul li.selectnumber, .number-select-12 ul li.selected-number, .select-no-2 ul li.selectnumber {
    background-color: #574095;
        color: #fff;
}
.ln-reset button, .reset button, .reset-2 button, .reset-12 button {
    border: 1px solid #3d2a6d;
    background-color: #574095;
}
.ln-reset button:hover, .reset button:hover, .reset-2 button:hover, .reset-12 button:hover {
    background-color: #362464;
    border: 1px solid #261452;
}
.lnum-input-area input, .input-area input, .input-box-fill-2 input, .input-area-12 input {
    color: #574095;
    border: 1px solid #bcb6cc;
}
.select-amt button.amt-select, .select-amt button:hover {
    background-color: #F42E2C;
}
.ui-left-menu button:hover {
    background-color: #ffe463;
}
.no-of-draw input:hover, .input-area input:hover, .input-box-fill-2 input:hover, .input-area-12 input:hover {
    border:1px solid #bcb6cc;
    background-color: whitesmoke;
}
.results-number ul li, .fortune-re {
    background-color: #574095;
    border: 1px solid #574095;
}
.qp-pkd-no input:disabled {
    background-color: #8072a2;
}
.winning-button button:hover {
    background-color: #ffea8a;
}
.setting-button button:hover {
    background-color: #bcb6cc;
}
.down-menu {
    background-color: #574095;
    box-shadow: -1px 2px 5px #1F1F1F;
}
.down-menu button:hover {
    background-color: #F42E2C;
}
.select-amt button:focus {
        background-color: #F42E2C;
    box-shadow: inset 0px 0px 6px #1a0946;
}
.popup h5 {
    background-color: #362464;
}
.popup {
    box-shadow: 0px 0px 18px #0e0525;
}
#gameResults > .popup {
    position: absolute;
    width: 1160px;
    height: auto;
    background-color: white;
    left: 50%;
    top: 20px;
    margin-left: -580px;
    border-radius: 5px;
    border: 1px solid #373737;
    overflow: hidden;
}
.game-name-tab button{    width: 14.1%;}
.game-name-tab.total-8-games button{    width: 12.3%;}
.game-name-tab.total-7-games button{    width: 14.1%;}
.game-name-tab.total-6-games button{    width: 16.4%;}
.game-name-tab.total-5-games button{    width: 19.7%;}
.game-name-tab.total-4-games button{    width: 24.7%;}
.game-name-tab.total-3-games button{    width: 33%;}
.game-name-tab.total-2-games button{    width: 49.7%;}
.game-name-tab.total-1-games button{  width: 50%; left: 50%; margin-left: -25%;}

.span-heading {
    background-color: #362464;
}
ul.draw-result-ott li {
    background-color: #594298;
}
.dearch-filter input {
    border: 1px solid #1b1038;
    background-color: #362464;
}
ul.draw-result-12 li {
    background-color: #594298;
}
.advance-draw a:hover {
    border: 1px solid #24154c;
    background-color: #362464;
}
.buy-now button{
	border: 2px dotted #fa0200;
    background: #f32927;
    background: -moz-linear-gradient(top, #f73533 0%,#f12523 50%,#c71715 100%);
    background: -webkit-linear-gradient(top, #f73533 0%,#f12523 50%,#c71715 100%);
    background: linear-gradient(to bottom, #f73533 0%,#f12523 50%,#c71715 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73533', endColorstr='#c71715',GradientType=0 );
}
.buy-now button:focus{border: 2px dotted #FFFFFF;
    background: #FD3119 ;
    background: -moz-linear-gradient(top, #F22B16 0%, #FD3119 50%, #C33020 100%);
    background: -webkit-linear-gradient(top, #F22B16 0%,#FD3119 50%,#C33020 100%);
    background: linear-gradient(to bottom, #F22B16 0%,#FD3119 50%,#C33020 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F22B16', endColorstr='#C33020',GradientType=0 );
}

/*.buy-now button:hover{    border:2px dotted #fff;
background: #fe9f26; 
background: -moz-linear-gradient(top, #fff036 0%,#ffc239 50%,#fe9f26 100%); 
background: -webkit-linear-gradient(top, #fff036 0%,#ffc239 50%,#fe9f26 100%);
background: linear-gradient(to bottom, #fff036 0%,#ffc239 50%,#fe9f26 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff036', endColorstr='#fe9f26',GradientType=0 ); 
}*/

span.buy-span{color: #ffffff;
    border-left: 1px solid #fb8a8c;}
    
    input.ntpk{border: 1px solid #bcb6cc;padding: 10px 5px;}
    input.ntpk:disabled{background-color: #bcb6cc;}
    .ad-draw-check-box.select-checkbox {
    background-color: #574095;
    }
    
    .button-submit button {
    background-color: #f42c2a;
    border-bottom: 3px solid #e0201e;
    }
    .button-cancel button {
    background-color: rgb(93, 70, 156);
    border-bottom: 3px solid #554188;
    color: #f7f2f2;
}
.ad-draw-check-box {
    color: #362464;
}
.game-name-tab button{
background: #382863;
/*background: -moz-linear-gradient(top, #382863 1%, #352660 50%, #322063 100%);
background: -webkit-linear-gradient(top, #382863 1%,#352660 50%,#322063 100%);
background: linear-gradient(to bottom, #382863 1%,#352660 50%,#322063 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382863', endColorstr='#322063',GradientType=0 );*/
}

img.set-skm{display: none;}
img.set-zim{display: block;}

.systemMSG.popup.error {
    box-shadow: 0px 0px 12px rgb(23, 6, 66);
}
.popup.systemMSG.error h5 button {
    background-color: #e04d47;
}
.gm-banner {
	/*display: none;*/
}
div#zimQpTextboxName {
    color: #FFD628;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
div#kenoTwoQpTextboxName {
    color: #FFD628;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
div#twelveByTwentyQpTextboxName {
    color: #FFD628;
    font-size: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
ul.draw-result-12.draw-result-20 {
    width: 76%;
    margin-top: 0;
    float: right;
}
ul.draw-result-12.draw-result-20 li {
    margin: 3px 1px 3px 1px;
    width: 36px;
    height: 36px;
    font-size: 13px;
    line-height: 36px;
    border: 0;
    text-align: center;
}
#drawGameResults > .result-div-2 > .col-span-6 {
    width: 23%;
}
#drawGameResults > .result-div-zlb > .col-span-6{width: 31.3%;}
/* #drawGameResults > .result-div-zlb > .col-span-6 > .result-div > .draw-result-12{    margin-top: 23px;} */

#drawGameResults > .result-div-knt > .col-span-6{width: 31.3%;}
#drawGameResults > .result-div-knt > .col-span-6 > .result-div > .draw-result-12{    margin-top: 23px;}
#drawGameResults > .result-window-div > .col-span-6{width: 31.3%;}

.result-window-div, .result-div-nd, .result-div-2, .result-div-zlb, .result-div-knt {
    /*float: left;*/
    width: 100%;
    padding: 0;
    /*height: 390px;*/
    overflow: auto;
    margin-top: 10px;
    /*padding-bottom: 50px;*/

}
.result-window-div:after, .result-div-nd:after, .result-div-2:after, .result-div-zlb:after, .result-div-knt:after{
	content:' ';
	display:block;
	clear:both;
}
.results-number > ul > li.zimResultUi {
   /* margin: 25px 15px 0px 0px;*/
}

.results-number > ul > li.eplResultUi {
   font-size: 12px;
   margin: 3px 5px 0px 0px;
}

.ui-left-menu button{min-height: 65px;}
span.logo-game {
padding: 11px 0px;
}
span.next-draw-time{margin: 1px 0px;}

.results-number ul li.twelveResultUi {
    width: 16.66%;
    float: left;
    height: auto;
    background: none;
    margin: 0px;
    border: none;
    margin-top: 3px;
    text-align: center;
}


.results-number ul li.twelveResultUi span {
    display: inline-block;
    background-color: #574095;
    border-radius: 50%;
    color: #fff;
    
    
    width: 36px;
    height: 36px;
    line-height: 37px;
}