
.ticket-div {
    width: 250px;
float: left;
}
.ticket-div h5{    margin: 0px;
    padding: 7px 0px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #0c0c0c;
    border-radius: 3px 3px 0px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;}
.ticket-format {
    background-color: #fff;
    border: 1px solid #333;
	padding: 0px 15px;
position: relative;
}
.ticket-format:before, .ticket-format:after{
    content: '';
    background-image: url(/assets/images/draw/tkt_sidebar_logo.jpg);
    position: absolute;
    width: 12px;
    height: 100%;
    background-repeat: repeat-y;
    background-color: #cccccc;
    background-position: 1px 5px;
    top: 0;
}
.ticket-format:before{    
    left: 0;       
}
.ticket-format:after{
    right: 0;
}

.dg-dg {
    text-align: center;
    padding: 4px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}
.tkt-logo {
    width: 100%;
    float: left;
}
.logo-rel {
    text-align: center;
    padding-top:8px;
}
span.tkt-gm_nm {
    width: 100%;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 8px;
}
.tkt-dt-m {
    width: 100%;
    float: left;
    padding: 5px 0px;
}
.tkt-rw {
    float: left;
    width: 100%;
padding:3px 0px;
}
span.no-o-tkt {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}
span.no-of-tkt {
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
.bg-gary-tkt {
    float: left;
    width: 100%;
    background-color: #E9E9E9;
    padding:4px 0px;
    margin-bottom: 5px;
}
span.dt-gary-tkt {
  display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.span-rt {
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.tlam{    border-top: 1px solid #ECECEC;
    padding: 7px 0px;}
.list-draw-re {
    float: left;
    width: 100%;
padding: 5px 0px;
}

.list-draw-re ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}
.list-draw-re ul li {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #333;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 5px;
font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
span.draw-nm-s {
    float: left;
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
span.draw-nm-m {
    float: right;
font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
.border-top{border-top: 1px dashed #CECECE;}
.code-img {
    width: 100%;
    float: left;
    text-align: center;
}
img.code_img {
    width: 100%;
   /* height: 30px;*/
}
span.code-no {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}
.lottery-sign {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 4px;
    padding-bottom: 4px;
}
.lottery-sign img {
    width: 160px;
    display: inline-block;
}

.bottom-username {
    width: 100%;
    overflow: hidden;
    padding: 5px 0px;
}
.bottom-username span {
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #333;
padding: 4px 0px;
}
.border-line{border-top: 1px solid #ECECEC;}
