<div class="lastResultInnerWrap">
   <div class="title">
      <div class="label">{{'dge.lst_res' | translate}}</div>
      <div class="dateWrap">
         <span class="lbl">{{'dge.date' | translate}}: </span> <span class="date">{{gameData?.lastDrawWinningResultVOs[0]?.lastDrawDateTime | date:'d/MM/yyyy'}}</span>
      </div>
   </div>
   <div class="lt-resultWrap">
      <div class="blk">
         <div class="up-box">
            <div class="label">{{'dge.1st_prz' | translate}}</div>
            <!-- <div class="cat" innerHTML="{{'dge.Category1' | translate}}"> -->
               <!-- 1<sup>st</sup> {{'dge.cat' | translate}} -->
            <!-- </div> -->
         </div>
         <div class="dw-box">
            <div class="value">{{getLastDrawResult(0)}}{{getLastDrawResult(1)}}</div>
         </div>
      </div>
      <div class="blk">
         <div class="up-box">
            <div class="label">{{'dge.1st_3' | translate}}</div>
            <!-- <div class="cat" innerHTML="{{'dge.Category2' | translate}}"> -->
               <!-- 2<sup>nd</sup> {{'dge.cat' | translate}} -->
            <!-- </div> -->
         </div>
         <div class="dw-box">
            <div class="value">{{getLastDrawResult(2)}}/{{getLastDrawResult(3)}}</div>
         </div>
      </div>
      <div class="blk">
         <div class="up-box">
            <div class="label">{{'dge.lst_3' | translate}}</div>
            <!-- <div class="cat" innerHTML="{{'dge.Category3' | translate}}"> -->
               <!-- 3<sup>rd</sup> {{'dge.cat' | translate}} -->
            <!-- </div> -->
         </div>
         <div class="dw-box">
            <div class="value">{{getLastDrawResult(4)}}/{{getLastDrawResult(5)}}</div>
         </div>
      </div>
      <div class="blk">
         <div class="up-box">
            <div class="label">{{'dge.2_dig' | translate}}</div>
            <!-- <div class="cat" innerHTML="{{'dge.Category4' | translate}}"> -->
               <!-- 4<sup>th</sup> {{'dge.cat' | translate}} -->
            <!-- </div> -->
         </div>
         <div class="dw-box">
            <div class="value">{{getLastDrawResult(6)}}</div>
         </div>
      </div>
   </div>
</div>